$font: sans-serif
$code-font: 14px/15px "Source Code Pro", monospace
$fg: #000
$alt-fg: #ccc
$bg: #444
$trace-bg: #eeefff
$trace-alt-bg: #fcfcff
$trace-hover: #fdd
$trace-sel: #fcd
$trace-fun: #88f
$trace-file: #555
$trace-lno: #999
$source-shadow: #ddd

$lno-fg: rgba(0, 125, 50, 0.6)
$lno-hover-fg: blue
$code-ctx-border: #bbb
$code-ctx-bg: rgba(0, 125, 255, 0.05)
$code-hl-fg: green
$code-hl-bg: rgba(0, 255, 0, 0.25)
$code-hl-break-fg: red
$code-hl-break-bg: rgba(255, 0, 0, 0.15)
$code-hl-break-ask-fg: yellow
$code-hl-other-fg: black
$code-hl-other-bg: rgba(0, 255, 0, 0.1)

$inspect-fg: #f3f3f3
$inspect-middle: #e3e3e3
$inspect-bg: lightgrey

$comp-base: blue
$comp: #88f
$comp-hl-base: green
$comp-hl: forestgreen
$comp-hl-full: blue
$comp-fun-punct: black
$comp-fun-param: #050
$comp-fun-active-param: #0a0

$mini-prompt-fg: blue

$obj-border: #bbb
$obj-inner-border: rgba(0, 125, 255, 0.05)
$obj-hover: rgba(0, 125, 255, 0.12)
$obj-core-bg: rgba(0, 125, 255, 0.05)
$obj-method-bg: rgba(0, 125, 255, 0.075)
$obj-attr-bg: rgba(0, 125, 255, 0.1)

$pln: black

