<!DOCTYPE html>
{% from tornado.options import options %}
<html>
  <head>
    <title>Wdb server web interface</title>
    <meta charset="utf-8">
    <script src="{{ static_url('javascripts/wdb/deps.min.js') }}"></script>
    <link href="{{ static_url('stylesheets/deps.min.css') }}" rel="stylesheet" type="text/css">

    {% from wdb_server import StyleHandler %}
    <link href="{{ static_url('stylesheets/wdb-%s.css' % StyleHandler.theme) }}" rel="stylesheet" type="text/css">
  </head>
  <body {% if options.debug %}data-debug="true"{% end %}>
    <section id="wdb" data-page="{{ handler.__class__.__name__}}">
      {% block main %}
      {% end %}
    </section>
    {% block script %}{% end %}
  </body>
</html>
