{% extends _layout.html %}

{% block script %}
  <script src="{{ static_url('javascripts/' + ('status.js' if options.debug else 'wdb/status.min.js')) }}"></script>
{% end %}

{% block main %}
  <header>
    <h1 id="title">WDB
      <small>Home</small>
    </h1>
  </header>

  <article>
    <section>
      <h2>Active sessions</h2>
        <table class="sessions">
          <thead>
            <tr>
              <th>Session id</th>
              <th>Socket open</th>
              <th>Websocket open</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </section>
    <section>
      <h2>Current global breakpoints</h2>
      <table class="breakpoints">
        <thead>
          <tr>
            <th>File</th>
            <th>Line number</th>
            <th>Condition</th>
            <th>Function</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </section>
    <section>
      <h2>Running processes</h2>
      <table class="processes">
        <thead>
          <tr>
            <th>Pid</th>
            <th>User</th>
            <th>Command Line</th>
            <th>Time</th>
            <th>Memory</th>
            <th>Cpu</th>
            <th>Thread ID</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <h3>Run python file with trace</h3>
      <form class="runfile">
        <input type="text" placeholder="/home/wdb/my_file_to_debug.py" name="debug_file" />
        <input type="submit" value="Debug" />
      </form>
    </section>
    <section>
      {% from wdb_server import StyleHandler %}

      <h2>Change theme</h2>
      <form method="post">
        <select name="theme">
          {% for theme in StyleHandler.themes %}
            <option value="{{ theme }}"{{ ' selected' if theme == StyleHandler.theme else '' }}>{{ theme.title() }} Theme</option>
          {% end %}
        </select>
        <input type="submit" value="Change" />
      </form>
    </section>
  </article>
{% end %}
