{% extends _layout.html %}

{% block script %}
  <script src="{{ static_url('javascripts/wdb' + ('.js' if options.unminified else '/wdb.min.js')) }}"></script>
{% end %}


{% block main %}
  <header data-uuid="{{ uuid }}">
    <div id="activity" class="on">
      <div class="state"></div>
      <div class="inner state"></div>
    </div>
    <h1 id="title">
      Wdb is tracing your request.
      <small>
        It may take some time.
      </small>
    </h1>
    <div id="switch">
      <a id="deactivate" href=""></a>
    </div>
  </header>

  <article class="split">
    <div id="source">
      <div id="source-editor" tabindex="1" class="hidden">
      </div>
      <div id="interpreter" tabindex="2">
        <div id="scrollback">
        </div>
        <div id="prompt">
          <textarea data-index="-1" id="eval" tabindex="3"></textarea>
        </div>
        <div id="completions">
          <div id="backsearch"></div>
          <table>
          </table>
        </div>
      </div>
    </div>

    <div id="traceback" class="hidden">
    </div>
  </article>

  <footer>
    <div id="watchers">
    </div>
    <div id="home">
      <a href="/" target="blank"><i class="fa fa-home"></i></a>
    </div>
  </footer>
{% end %}
