$font: "WeblySleek", sans-serif;
$code-font: 14px/15px "Source Code Pro", monospace;
$fg: #000;
$alt-fg: #777;
$bg: #f8f8f8;
$trace-bg: #eeefff;
$trace-alt-bg: darken(#f8f8f8, 3%);
$trace-hover: #fdd;
$trace-sel: #fcd;
$trace-fun: rgb(119, 0, 136);
$trace-file: #555;
$trace-lno: #999;
$source-shadow: #ddd;
$lno-fg: rgba(0, 125, 50, 0.6);
$lno-hover-fg: blue;
$code-ctx-border: darken($bg, 8%);
$code-ctx-bg: rgba(119, 0, 136, 0.05);
$code-hl-fg: green;
$code-hl-bg: rgba(0, 255, 0, 0.25);
$code-hl-break-fg: red;
$code-hl-break-bg: rgba(255, 0, 0, 0.15);
$code-hl-break-ask-fg: yellow;
$code-hl-other-fg: black;
$code-hl-other-bg: rgba(0, 255, 0, 0.1);
$inspect-fg: #f3f3f3;
$inspect-middle: #e3e3e3;
$inspect-bg: lightgrey;
$comp-base: #085540;
$comp: #888;
$comp-hl-base: green;
$comp-hl: forestgreen;
$comp-hl-full: blue;
$comp-fun-name: blue;
$comp-fun-punct: black;
$comp-fun-param: #050;
$comp-fun-active-param: #0a0;
$mini-prompt-fg: #085540;
$obj-border: #bbb;
$obj-inner-border: darken($bg, 12%);
$obj-hover: rgba(0, 125, 255, 0.12);
$obj-core-bg:  darken($bg, 10%);
$obj-method-bg: darken($bg, 8%);
$obj-attr-bg: darken($bg, 5%);
$obj-doc-bg: darken($bg, 3%);
$obj-source-bg: darken($bg, 1%);
$state-inner: rgba(119, 0, 136, 0.7);
$state-outer: lighten($state-inner, 10%);
$cm-selected: #d9d9d9;
$cm-focused-selected: #d7d4f0;
$cm-gutter: none;
$cm-gutter-border: #808080;
$cm-gutter-text: none;
$cm-cursor: black;
$hl-default: gray;
$hl-keyword: #360795;
$hl-atom: #219;
$hl-number: $trace-fun;
$hl-def: #00f;
$hl-variable: #525252;
$hl-variable-2: #05a;
$hl-variable-3: #085;
$hl-property: black;
$hl-operator: black;
$hl-comment: #95720F;
$hl-string: #950728;
$hl-string-2: #f50;
$hl-meta: #555;
$hl-qualifier: #555;
$hl-builtin: #BA00D4;
$hl-bracket: #997;
$hl-tag: #170;
$hl-attribute: #00c;
$hl-header: blue;
$hl-quote: #090;
$hl-hr: #999;
$hl-link: #00c;
$hl-error: #f00;