@font-face{
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Regular.ttf.woff") format("woff");
  font-weight: 400;}
@font-face{
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Semibold.ttf.woff") format("woff");
  font-weight: 700;}
@font-face{
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Bold.ttf.woff") format("woff");
  font-weight: 900;}
@import 'hl';
body, html{
  color: $fg;
  background-color: $bg;
  height: 100%;
  margin: 0;}
#wdb{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  > header{
    height: 100px;
    display: flex;
    align-items: center;
    #activity{
      width: 100px;}
    #title{
      flex: 1;
      margin: 0;
      font-family: $font;}}
  > article{
    flex: 1;
    table, form, p{
      margin: 0 auto;
      width: 90%;}
    table{
      border-collapse: collapse;
      width: 90%;
      margin: 0 auto;
      tbody td{
        &.action, &.close{
          text-align: center;
          a{
            text-decoration: none;
            &:hover, &:focus{
              &:before{
                color: lighten($trace-fun, 10%);}}
            &:before{
              color: $trace-fun;
              font-size: 18px;}}}}
      a{
        color: $trace-fun;}}
    &.split{
      display: flex;}
    #source{
      flex: 7;
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      #source-editor{
        flex: 1;
        position: relative;
        .CodeMirror{
          position: absolute;
          height: 100%;
          width: 100%;}}
      #interpreter{
        flex: 1;
        overflow-y: auto;
        &:focus{
          outline: none;}}}
    #traceback{
      flex: 3;
      overflow-y: auto;}}
  #watchers{
    display: flex;
    flex-flow: row wrap;
    > div{
      margin-left: 5px;
      margin-right: 2em;
      display: flex;
      .name{
        color: $fg;
        cursor: pointer;}
      .value{
        flex: 1;}}}}
a{
  color: $fg;}
abbr{
  font-weight: bold;}
table{
  font-family: "Source Code Pro" !important;
  width: 100%;
  thead.toggle{
    cursor: pointer;}
  tr{
    color: $fg;
    &[data-tid]{
      color: $alt-fg;}
    td{
      padding: .25em;
      border: 1px solid darken($bg, 10%);}}}
input{
  border: 1px solid darken($bg, 10%);
  background-color: $bg;
  color: $fg;
  padding: .25em;
  &[name=debug_file]{
    width: 500px;}
  &[type=submit]{
    font-weight: bold;
    padding-left: .5em;
    padding-right: .5em;}}
h1{
  font-size: 2em;
  font-weight: bold;
  color: $fg;
  font-variant: small-caps;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  small{
    color: $alt-fg;
    display: block;
    font-size: .5em;
    font-variant: normal;
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;}}
code{
  font-family: "Source Code Pro" !important;
  display: block;
  white-space: pre-wrap;
  word-break: break-all;}
#source-editor{
  &:focus{
    outline: none;}
  > .CodeMirror{
    font-family: "Source Code Pro" !important;
    font-weight: bold;
    font-size: 15px;
    box-shadow: inset -8px 0 20px $source-shadow;
    &.rw:after{
      position: absolute;
      top: 2em;
      right: -2em;
      content: 'Edit Mode';
      background: $code-ctx-border;
      color: $alt-fg;
      border-top: 1px solid $trace-file;
      border-bottom: 1px solid $trace-file;
      padding: .2em 2em;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);}
    .breakpoints{
      width: .6em;
      border: none;}}}
#eval{
  background-color: transparent;
  border: none;
  flex: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  vertical-align: top;}
#interpreter{
  font: $code-font;}
#scrollback{
  .display{
    box-shadow: inset -8px 0 20px $source-shadow;
    background-color: white;
    border: 1px solid $code-ctx-border;
    resize: both;}
  iframe.display{
    width: 100%;
    min-height: 300px;}}
#prompt, .prompted{
  padding: 0.5em 0 0 0;
  &:before{
    font: $code-font;
    color: $hl-default;
    content: ">>> ";}}
#prompt{
  display: flex;
  textarea{
    color: $hl-default;
    font: $code-font;
    margin-left: 0.5em;
    resize: none;}}
#completions{
  .base{
    color: $comp-base;}
  .completion{
    color: $comp;}
  td{
    padding: 0.25em;
    &.active{
      .base{
        color: $comp-hl-base;}
      .completion{
        color: $comp-hl;}
      &.complete .base{
        color: $comp-hl-full;}}}}
#comp-desc, #backsearch{
  color: $mini-prompt-fg;
  font-style: italic;}
.trace{
  font: $code-font;}
@mixin traceline($col){
  background-color: $col;
  &:before{
    background-color: $col;
    border-color: $col $col $bg $bg;}
  .tracefunfun{
    background-color: $bg;
    .tracefun{
      background-color: $col;
      &:before{
        border-color: $col $col $bg $bg;}}}}
$shift: 4%;
$margin: 2%;
.traceline{
  transition: border 750ms;
  margin: 0 0 1em 1em;
  font: $code-font;
  clear: both;
  overflow: hidden;
  width: 100% - $shift - $margin;
  margin-left: $shift + $margin;
  @include traceline($trace-bg);
  &:nth-child(odd){
    @include traceline($trace-alt-bg);}
  &:hover{
    @include traceline(darken($trace-bg, 5%));}
  &.selected{
    width: 100% - $margin;
    margin-left: $margin;
    @include traceline(darken($trace-bg, 10%));
    background-color: darken($trace-bg, 10%);}
  &.real-selected{
    @include traceline(darken($trace-bg, 5%));
    background-color: darken($trace-bg, 5%);}
  .tracecode{
    padding: .5em;
    padding-top: .25em;
    clear: both;
    > code{
      white-space: nowrap;}}
  .tracefunfun{
    overflow: hidden;
    .tracefun{
      font-weight: bolder;
      font-size: .8em;
      text-align: right;
      float: right;
      line-height: 1.2;
      color: $trace-fun;
      padding-right: 2%;
      &:before{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: .7em;
        display: inline-block;
        vertical-align: top;}}}
  .tracefilelno{
    padding: .5em;
    padding-bottom: .25em;
    word-wrap: break-word;
    .tracefile{
      color: $trace-file;}
    .tracelno{
      color: $trace-lno;
      &:before{
        content: ': ';}}}}
.prettyprint{
  border: none !important;}
.CodeMirror-linenumber{
  font-size: 14px;}
.CodeMirror-gutter-elt{
  text-align: center;
  .breakpoint{
    position: relative;
    top: -2px;}}
.CodeMirror-gutter.breaks{
  width: .6em;}
.CodeMirror-linebackground{
  transition: 1s;
  &:hover{
    transition: 1s;
    color: $lno-hover-fg;}
  &.ctx{
    border-left: 1px solid $code-ctx-border;
    border-right: 1px solid $code-ctx-border;
    &.ctx-top{
      border-top: 1px solid $code-ctx-border;}
    &.ctx-bottom{
      border-bottom: 1px solid $code-ctx-border;}
    color: $lno-fg;
    background-color: $code-ctx-bg;
    &:before{
      color: $lno-fg;
      background-color: $code-ctx-bg;}}
  &.footstep{
    color: $code-hl-other-fg;
    background-color: $code-hl-other-bg !important;}
  &.breakpoint{
    color: $code-hl-break-fg;
    background-color: $code-hl-break-bg !important;}
  &.highlighted{
    color: $code-hl-fg;
    background-color: $code-hl-bg !important;}
  &.breakpoint.highlighted{
    background-color: darken($code-hl-break-bg, 20%) !important;}
  &.ask-breakpoint{
    color: $code-hl-break-ask-fg;}}
a.inspect{
  display: inline-block;
  text-decoration: none;
  background-color: $inspect-fg;
  border: 1px solid $inspect-middle;
  &:hover{
    background-color: $inspect-middle;
    border: 1px solid $inspect-bg;}}
.long{
  display: none;}
.short.close:after{
  content: '…"';}
#comp-desc{
  text-align: left;
  .fun_name{
    color: $comp-fun-name;}
  .fun_punct{
    color: $comp-fun-punct;}
  .fun_param{
    color: $comp-fun-param;
    &.active{
      color: $comp-fun-active-param;}}}
.backsearched{
  text-decoration: underline;}
.out{
  code, a{
    display: inline;}}
.object{
  border: 1px solid $obj-border;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em;
  thead{
    &.toggle{
      &:hover{
        background-color: $obj-hover;}
      td{
        text-align: center;
        &:after{
          content: '[-]';
          float: right;}}
      &.hidden td:after{
        content: '[+]';}}}
  tbody, thead{
    td{
      border: 2px solid $obj-inner-border;
      padding: 0.2em 0.5em;
      min-width: 100px;}}
  tbody{
    &.hidden{
      display: none;}
    tr > :first-child{
      vertical-align: top;}
    table td{
      border: none;}}
  .core{
    background-color: $obj-core-bg;}
  .method{
    background-color: $obj-method-bg;}
  .attr{
    background-color: $obj-attr-bg;}
  .doc{
    background-color: $obj-doc-bg;}
  .source{
    background-color: $obj-source-bg;}}
.nogood{
  color: red !important;
  >{
    .pln, .typ{
      color: red !important;}}}
.waiting_for_hl{
  opacity: .4;}
code, code span{
  transition: opacity 50ms;}
.trace_500{
  margin: 0 1em 1em;
  .flno{
    color: $alt-fg;
    font-size: 1.3em;
    float: left;}
  .fun{
    font-size: 1.2em;
    float: right;}
  code{
    font-size: 1.3em;
    padding: .5em;
    clear: left;}}
#activate, #deactivate{
  display: block;
  width: 80px;
  margin: 0 10px;
  text-decoration: none;
  background-color: lighten($bg, 5%);
  &:before{
    display: block;
    width: 40px;
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-weight: bold;}}
#activate:before{
  content: 'Off';
  background-color: red;}
#deactivate:before{
  content: 'On';
  margin-left: 40px;
  background-color: green;}
.CodeMirror-dialog{
  background-color: darken($bg, 10%);
  border-bottom-color: $bg;
  color: $fg;}
.cm-searching{
  background: lighten($bg, 10%);}
.state{
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid $state-inner;
  opacity: .9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 35px $state-outer;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 50px;
  height: 50px;
  -webkit-animation: spinPulse 1s infinite linear;
  animation: spinPulse 1s infinite linear;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  &.inner{
    width: 30px;
    height: 30px;
    top: 30px;
    left: 20px;
    -webkit-animation: spinoffPulse 1s infinite linear;
    animation: spinoffPulse 1s infinite linear;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;}
  &.on{
    -webkit-animation-play-state: running;
    animation-play-state: running;}}
@mixin pulse(){
  0% {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px $state-outer;
  }}
@mixin pulseoff(){
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }}
@keyframes spinPulse{
  @include pulse;}
@keyframes spinoffPulse{
  @include pulseoff;}
@-webkit-keyframes spinPulse{
  @include pulse;}
@-webkit-keyframes spinoffPulse{
  @include pulseoff;}