.cm
  background: none

div.CodeMirror-selected
  background: hsl(216, 8%, 24%) !important

.CodeMirror-gutter
  background: hsl(210, 6%, 12%)
  border-right: 1px solid hsl(0, 0%, 19%)

.CodeMirror-gutter-text
  color: hsl(0, 0%, 29%)

.CodeMirror-cursor
  border-left: 1px solid white !important

.cm
  color: $hl-default
  /* Use each loop to hash when sass 3.3 is released

  /* span
  /*   @each $name, $color in $hl-colors
  /*     &.cm-# {$name}
  /*       color: $color

  span
    &.cm-keyword
      color: $hl-keyword
    &.cm-atom
      color: $hl-atom
    &.cm-number
      color: $hl-number
    &.cm-def
      color: $hl-def
    &.cm-variable
      color: $hl-variable
    &.cm-variable-2
      color: $hl-variable-2
    &.cm-variable-3
      color: $hl-variable-3
    &.cm-property
      color: $hl-property
    &.cm-operator
      color: $hl-operator
    &.cm-comment
      color: $hl-comment
    &.cm-string
      color: $hl-string
    &.cm-string-2
      color: $hl-string-2
    &.cm-meta
      color: $hl-meta
    &.cm-qualifier
      color: $hl-qualifier
    &.cm-builtin
      color: $hl-builtin
    &.cm-bracket
      color: $hl-bracket
    &.cm-tag
      color: $hl-tag
    &.cm-attribute
      color: $hl-attribute
    &.cm-header
      color: $hl-header
    &.cm-quote
      color: $hl-quote
    &.cm-hl
      color: $hl-hl
    &.cm-link
      color: $hl-link
    &.cm-error
      color: $hl-error
