$font: sans-serif
$code-font: 14px/15px "Source Code Pro", monospace
$fg: #000
$alt-fg: #ccc
$bg: #fff
$trace-bg: #eeefff
$trace-alt-bg: #fcfcff
$trace-hover: #fdd
$trace-sel: #fcd
$trace-fun: #88f
$trace-file: #555
$trace-lno: #999
$source-shadow: #ddd

$lno-fg: rgba(0, 125, 50, 0.6)
$lno-hover-fg: blue
$code-ctx-border: #bbb
$code-ctx-bg: rgba(0, 125, 255, 0.05)
$code-hl-fg: green
$code-hl-bg: rgba(0, 255, 0, 0.25)
$code-hl-break-fg: red
$code-hl-break-bg: rgba(255, 0, 0, 0.15)
$code-hl-break-ask-fg: yellow
$code-hl-other-fg: black
$code-hl-other-bg: rgba(0, 255, 0, 0.1)

$inspect-fg: #f3f3f3
$inspect-middle: #e3e3e3
$inspect-bg: lightgrey

$comp-base: blue
$comp: #88f
$comp-hl-base: green
$comp-hl: forestgreen
$comp-hl-full: blue
$comp-fun-name: blue
$comp-fun-punct: black
$comp-fun-param: #050
$comp-fun-active-param: #0a0

$mini-prompt-fg: blue

$obj-border: #bbb
$obj-inner-border: rgba(0, 125, 255, 0.05)
$obj-hover: rgba(0, 125, 255, 0.12)
$obj-core-bg: rgba(0, 125, 255, 0.05)
$obj-method-bg: rgba(0, 125, 255, 0.075)
$obj-attr-bg: rgba(0, 125, 255, 0.1)

$state-inner: rgba(0, 229, 183, 0.9)
$state-outer: #21e787

$cm-selected: #d9d9d9
$cm-focused-selected: #d7d4f0
$cm-gutter: none
$cm-gutter-border: #808080
$cm-gutter-text: none
$cm-cursor: black

/* Change this to hash when sass 3.3 is released

$hl-default: gray

$hl-keyword: #708
$hl-atom: #219
$hl-number: #164
$hl-def: #00f
$hl-variable: black
$hl-variable-2: #05a
$hl-variable-3: #085
$hl-property: black
$hl-operator: black
$hl-comment: #a50
$hl-string: #a11
$hl-string-2: #f50
$hl-meta: #555
$hl-qualifier: #555
$hl-builtin: #30a
$hl-bracket: #997
$hl-tag: #170
$hl-attribute: #00c
$hl-header: blue
$hl-quote: #090
$hl-hr: #999
$hl-link: #00c
$hl-error: #f00
