h1 {
  font-variant: small-caps;
  color: #444;
}

h1 small {
  display: block;
  color: #ccc;
  font-size: .5em;
}

#traceback {
  font-family: serif;
}

.traceinfo {
  font-size: .75em;
}

.traceline {
  padding: .25em;
  background-color: #fcfcff;
  border-left: 10px solid #eeefff;
}

.traceline:nth-child(odd) {
  background-color: #eeefff;
  border-left: 10px solid #fcfcff;
}

.tracefun {
  font-weight: bold;
}

.tracefile {
  color: #555;
  text-decoration: underline;
}

#source {
  height: 500px;
  overflow: auto;
}

.eval {
  width: 95%;
  font-size: 16px;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  padding-left: 0;
}


.eval-prompt {
  padding: .2em 0 .2em 1em;
  font-size: 1em;
  font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}

.eval-prompt:before {
  content: ">>> ";
}
