{% extends _layout.html %}

{% block head %}
  <script src="{{ static_url('javascripts/status.js') }}"></script>
{% end %}

{% block main %}
  <header>
    <h1 id="title">WDB
      <small>Home</small>
    </h1>
  </header>

  <article>
    {% from wdb_server import Sockets, StyleHandler, global_breakpoints %}
    {% set uuids = set(Sockets.sockets.keys()) | set(Sockets.websockets.keys()) %}
    <section>
      <h2>Active sessions</h2>
        <table class="sessions">
          <thead>
            <tr>
              <th>Session id</th>
              <th>Socket open</th>
              <th>Websocket open</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for uuid in uuids %}
              <tr data-uuid="{{ uuid }}">
                {% if Sockets.sockets.get(uuid) %}
                <td class="uuid"><a href="/debug/session/{{ uuid }}">{{ uuid }}</a></td>
                {% else %}
                <td class="uuid">{{ uuid }}</td>
                {% end %}
                <td class="socket">{{ Sockets.sockets.get(uuid) and 'Yes' or 'No' }}</td>
                <td class="websocket">{{ Sockets.websockets.get(uuid) and 'Yes' or 'No' }}</td>
                <td class="close"><a href="/uuid/{{ uuid }}/close">Force close</a></td>
              </tr>
            {% end %}
          </tbody>
        </table>
    </section>
    <section>
      <h2>Change theme</h2>
      <form method="post">
        <select name="theme">
          {% for theme in StyleHandler.themes %}
            <option value="{{ theme }}"{{ ' selected' if theme == StyleHandler.theme else '' }}>{{ theme.title() }} Theme</option>
          {% end %}
        </select>
        <input type="submit" value="Change" />
      </form>
    </section>
    <section>
      <h2>Debug a file</h2>
      <form method="post" action="/debug/file/">
        <input type="text" placeholder="/home/wdb/my_file_to_debug.py" name="debug_file" />
        <input type="submit" value="Start debugging" />
      </form>
    </section>
    <section>
      <h2>Open debugger here</h2>
      <form>
        <input type="button" value="Debug me" class="open-self" />
      </form>
    </section>
    <section>
      <h2>Current global breakpoints</h2>
        <table>
          <thead>
            <tr>
              <th>Breakpoint</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for breakpoint in global_breakpoints %}
              <tr>
                <td>{{ breakpoint }}</td>
                <td>
                  <a href="/debug/file/{{ breakpoint.file }}">Open</a>
                  <a href="/breakpoint/{{ id(breakpoint) }}/delete">Remove</a>
                </td>
              </tr>
            {% end %}
          </tbody>
        </table>
    </section>
  </article>
{% end %}
