{% extends _layout.html %}

{% block head %}
  <script>
    $(function () {
      $('.open-self').click(function () {
        $.get('/self');
        return false;
      });
    });
  </script>
{% end %}

{% block main %}
  <header>
    <h1 id="title">WDB
      <small>Home</small>
    </h1>
  </header>

  <article>
    {% from wdb_server import Sockets, StyleHandler %}
    {% set uuids = set(Sockets.sockets.keys()) | set(Sockets.websockets.keys()) %}
    <section>
      <h2>Active sessions</h2>
      {% if uuids %}
        <table>
          <thead>
            <tr>
              <th>Session id</th>
              <th>Socket open</th>
              <th>Websocket open</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for uuid in uuids %}
              <tr>
                {% if Sockets.sockets.get(uuid) %}
                <td><a href="/debug/session/{{ uuid }}">{{ uuid }}</a></td>
                {% else %}
                <td>{{ uuid }}</td>
                {% end %}
                <td>{{ Sockets.sockets.get(uuid) and 'Yes' or 'No' }}</td>
                <td>{{ Sockets.websockets.get(uuid) and 'Yes' or 'No' }}</td>
                <td><a href="/uuid/{{ uuid }}/close">Force close</a></td>
              </tr>
            {% end %}
          </tbody>
        </table>
      {% else %}
        <p>No active session</p>
      {% end %}
    </section>
    <section>
      <h2>Change theme</h2>
      <form method="post">
        <select name="theme">
          {% for theme in StyleHandler.themes %}
            <option value="{{ theme }}"{{ ' selected' if theme == StyleHandler.theme else '' }}>{{ theme.title() }} Theme</option>
          {% end %}
        </select>
        <input type="submit" value="Change" />
      </form>
    </section>
    <section>
      <h2>Debug a file</h2>
      <form method="post">
        <input type="text" placeholder="/home/wdb/my_file_to_debug.py" name="debug_file" />
        <input type="submit" value="Start debugging" />
      </form>
      <br />
      <input type="button" value="Debug me" class="open-self" />
    </section>
  </article>
{% end %}
