{% extends _layout.html %}
{% block head %}
  <script src="{{ static_url('javascripts/codemirror-3.16/lib/codemirror.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.16/addon/runmode/runmode.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.16/addon/search/search.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.16/addon/search/searchcursor.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.16/addon/dialog/dialog.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.16/mode/javascript/javascript.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.16/mode/python/python.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.16/mode/jinja2/jinja2.js') }}"></script>

  <link href="{{ static_url('javascripts/codemirror-3.16/lib/codemirror.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static_url('javascripts/codemirror-3.16/theme/tomorrow.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static_url('javascripts/codemirror-3.16/addon/dialog/dialog.css') }}" rel="stylesheet" type="text/css">
  <script>
    _uuid = "{{ uuid }}";
  </script>
  <script src="{{ static_url('javascripts/wdb.js') }}"></script>
{% end %}


{% block main %}
  <header>
    <div id="activity">
      <div class="state on"></div>
      <div class="inner state on"></div>
    </div>
    <h1 id="title">
      Wdb is tracing your request.
      <small>
        It may take some time.
      </small>
    </h1>
    <div id="switch">
      <a id="deactivate" href=""></a>
    </div>
  </header>

  <article class="split">
    <div id="source">
      <div id="source-editor">
      </div>
      <div id="interpreter" style="display: none;">
        <div id="scrollback">
        </div>
        <div id="prompt">
          <textarea data-index="-1" id="eval"></textarea>
        </div>
        <div id="completions">
          <div id="backsearch"></div>
          <table>
          </table>
        </div>
      </div>
    </div>

    <div id="traceback">
    </div>
  </article>

  <footer>
    <div id="watchers">
    </div>
  </footer>
{% end %}
