{% extends _layout.html %}
{% block head %}
  <script src="{{ static_url('javascripts/codemirror-3.11/lib/codemirror.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.11/addon/runmode/runmode.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.11/addon/search/search.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.11/addon/search/searchcursor.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.11/addon/dialog/dialog.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.11/mode/javascript/javascript.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.11/mode/python/python.js') }}"></script>
  <script src="{{ static_url('javascripts/codemirror-3.11/mode/jinja2/jinja2.js') }}"></script>

  <link href="{{ static_url('javascripts/codemirror-3.11/lib/codemirror.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static_url('javascripts/codemirror-3.11/theme/tomorrow.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static_url('javascripts/codemirror-3.11/addon/dialog/dialog.css') }}" rel="stylesheet" type="text/css">
  <script>
    _uuid = "{{ uuid }}";
  </script>
  <script src="{{ static_url('javascripts/wdb.js') }}"></script>
{% end %}


{% block main %}
  <a id="deactivate" href=""></a>
  <div class="state on"></div>
  <div class="inner state on"></div>
  <div id="waiter"></div>

  <div id="wdb" style="display: none;">
    <h1 id="title"></h1>
    <div id="source">
      <div id="interpreter" style="display: none;">
        <div id="scrollback">
        </div>
        <div id="prompt">
          <textarea rows="1" data-index="-1" id="eval"></textarea>
        </div>
        <div id="completions">
          <div id="backsearch"></div>
          <table>
          </table>
        </div>
      </div>
    </div>
    <div id="traceback">
    </div>
  </div>
{% end %}
