[Unit]
Description=Wdb server
After=network.target

[Service]
ExecStart=/usr/bin/wdb.server.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
