.CodeMirror, code
  font-family: "Roboto Mono"

.split
  display: flex
  flex-direction: column
  min-height: calc(100vh - 64px - 40px)
  @media screen and (max-width: 1024px)
    min-height: calc(100vh - 56px - 40px)


  .flex
    flex: 1 1 calc(50vh - 64px - 40px)
    @media screen and (max-width: 1024px)
      flex: 1 1 calc(50vh - 56px - 40px)

.interpreter
  outline: 0
  display: flex
  flex-direction: column

  .watchers
    .watching, a.inspect, code, div.value
      display: inline-block
    .watching
      margin-right: 1em
      &:not(:last-child)::after
        content: ', '
      .name
        cursor: not-allowed

  .terminal
    flex: 1
    overflow: auto
    display: flex
    flex-direction: column
    position: relative

  &.full-height
    height: calc(100vh - 40px - 64px)

  .long
    display: none

  .short.close:after
    content: '…"'

  table
    margin: 0 auto
    width: 90%

    table
      width: 100%

    &.object
      margin: 2em auto
      thead tr th
        text-align: center

      tbody tr:not(:hover)
        background: rgba(0, 0, 0, .025)

    tbody
      &.closed
        display: none

      td
        &.key
          code
            white-space: nowrap
        &.ellipse
          text-align: center

      td.val
        code
          word-break: break-all

  a.inspect
    display: inline-block
    text-decoration: none
    border-bottom: 1px solid rgba(0, 0, 0, .05)
    cursor: pointer

  .prompt, .for
    margin-left: 26px

    &::before
      content: '>>>'
      position: absolute
      left: 0

  .prompt
    &:before
      margin-top: 4px
      font-family: "Roboto Mono"

    .CodeMirror
      height: auto
      border-bottom: 1px solid rgba(0, 0, 0, .1)
      &.extra-dialog
        padding-bottom: 2em

      .CodeMirror-cursor
        visibility: visible !important
        width: auto
        border: none
        outline: 1px solid rgba(0, 0, 0, .5)

      &.CodeMirror-focused .CodeMirror-cursor
        background: rgba(0, 0, 0, .75)
        animation: blink 1s ease-in-out infinite
        outline: 0


.title
  white-space: pre

.scrollback
  .scroll-line
    padding: 4px

footer.mdl-mini-footer
  overflow: hidden
  height: 32px
  padding: 4px 1em

  .mdl-spinner
    margin: 2px 0

.duration
  float: right

.mdl-layout__drawer
  .traceback
    padding-top: 0

.trace-line
  code
    font-size: .75em
    word-break: normal

  .material-icons
    font-size: .8em
    margin-right: .5em
    vertical-align: middle

  &:hover
    background: rgba(0, 0, 0, .05)

  &.real-selected
    background: rgba(255, 255, 255, .9)
    &:hover
      background: rgba(0, 0, 0, .1)

  &.selected
    background: rgba(0, 0, 0, .08)
    &:hover
      background: rgba(0, 0, 0, .13)


.CodeMirror-linebackground
  transition: background-color 1s
  &.ctx
    background-color: rgba(0, 0, 0, .2)
    border-left: 1px solid rgba(0, 0, 0, .5)
    border-right: 1px solid rgba(0, 0, 0, .5)
    &.ctx-top
      border-top: 1px solid rgba(0, 0, 0, .5)
    &.ctx-bottom
      border-bottom: 1px solid rgba(0, 0, 0, .5)

  &.footstep
    background-color: rgba(0, 0, 0, .1)

  &.breakpoint
    background-color: rgba(255, 0, 0, .1)

  &.highlighted
    background-color: rgba(0, 0, 0, .1)

  &.breakpoint.highlighted
    background-color: rgba(255, 0, 0, .2)

  &.ask-breakpoint
    background-color: rgba(255, 0, 0, .05)

code
  white-space: pre-wrap
  word-break: break-all

.ellipsis
  text-overflow: ellipsis
  display: block
  overflow: hidden
  white-space: nowrap
  word-wrap: normal
  width: 100%

.CodeMirror-dialog
  .not-found
    color: orangered

@keyframes blink
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1

.mdl-layout__header-row
  padding-right: 20px

  button
    opacity: .75
    margin: 8px

    &:hover
      opacity: 1

.cover
  // background: url('../hipster.jpg') center / cover
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../hipster.jpg") center/cover

  .mdl-layout__header-row
    height: 15vh
  .mdl-layout__tab-bar, .mdl-layout__tab-bar-button
    background: transparent
  .mdl-layout-title
    font-size: 4em


main
  background: white

.open-shell
  position: fixed
  bottom: 2em
  right: 2em

.diff
  td
    width: 49%
    border-top: none
    border-bottom: none
    padding-top: 0
    padding-bottom: 0

  .diff_lno
    min-width: 50px
    padding-left: 10px
    padding-right: 10px
    width: 1%

  .diff_line
    white-space: pre-wrap
    word-break: break-word

  .diff_sub
    background-color: #f8cbcb

  .diff_line_sub
    background-color: #ffecec

  .diff_add
    background-color: #a6f3a6

  .diff_line_add
    background-color: #eaffea

  .diff_chg
    background-color: #f2f1a1

  .diff_line_chg
    background-color: #fffeeb

.CodeMirror-hints
  &.auto
    opacity: .5
