.CodeMirror, code
  font-family: "Roboto Mono"

.source-editor .CodeMirror
  height: calc(50vh - 64px)

.prompt .CodeMirror
  height: auto
  border-bottom: 1px solid rgba(0, 0, 0, .1)
  &.CodeMirror-focused
    border-bottom: 1px solid rgba(0, 0, 0, .2)

.interpreter
    height: calc(50vh - 40px)
    overflow: auto

.scrollback
  .scroll-line
    padding: 4px

footer.mdl-mini-footer
  overflow: hidden
  height: 32px
  padding: 4px 1em

  .mdl-spinner
    margin: 2px 0

table
  margin: 2em auto
  width: 95%

  tbody.closed
    display: none

.prompt
  width: 100%
  padding: 0

.duration
  float: right

.trace-line
  &:hover
    background: rgba(0, 0, 0, .05)

  &.selected
    background: rgba(255, 255, 255, .05)
    &:hover
      background: rgba(0, 0, 0, 0)


code
  white-space: pre-wrap
  word-break: break-all

a.inspect
  display: block
