@import clean
@import wdb

#source-editor > .CodeMirror
  border: 1px solid #ddd
  border-radius: 4px
  font-weight: normal

.cm-operator, .cm-keyword
  font-weight: bold

.cm-comment
  font-style: italic

.CodeMirror-linebackground.ctx
    border-left: 2px solid red

.traceline
  position: relative
  padding-bottom: .5em
  border: 1px solid $trace-bg-selected
  border-radius: 4px

  &:not(.selected)
    border-color: #d8d8d8

#traceback .traceline
  .tracefunfun
    position: absolute
    bottom: 0
    right: 0
    background-color: transparent

  .tracefun
    background-color: transparent
    &:before
      content: none

[data-page=IndexHandler]
  font-family: Verdana
  margin: 0 10%

.traceline
  margin-bottom: -1px


#wdb > header > #activity
  width: 70px
  height: 70px
  margin: 15px
  position: relative
  text-align: center

  -webkit-animation: rotate 2.0s infinite linear
  animation: rotate 2.0s infinite linear

  .state
    width: 60%
    height: 60%
    display: inline-block
    position: absolute
    top: 0
    background-color: $state-outer
    border-radius: 100%
    -webkit-animation: bounce 2.0s infinite ease-in-out
    animation: bounce 2.0s infinite ease-in-out

    &.inner
      top: auto
      bottom: 0px
      background-color: $state-inner
      -webkit-animation-delay: -1.0s
      animation-delay: -1.0s

  +state

@-webkit-keyframes rotate
  100%
    -webkit-transform: rotate(360deg)

@keyframes rotate
  100%
    transform: rotate(360deg)
    -webkit-transform: rotate(360deg)

@-webkit-keyframes bounce
  0%, 100%
    -webkit-transform: scale(0.0)
  50%
    -webkit-transform: scale(1.0)

@keyframes bounce
  0%, 100%
    transform: scale(0.0)
    -webkit-transform: scale(0.0)
  50%
    transform: scale(1.0)
    -webkit-transform: scale(1.0)
