@import clean
@import wdb

#source-editor > .CodeMirror
  border: 1px solid #ddd
  border-radius: 4px
  font-weight: normal

.cm-operator, .cm-keyword
  font-weight: bold

.cm-comment
  font-style: italic

.CodeMirror-linebackground.ctx
    border-left: 2px solid red

.traceline
  position: relative
  padding-bottom: .5em
  border: 1px solid $trace-bg-selected
  border-radius: 4px

  &:not(.selected)
    border-color: #d8d8d8

#traceback .traceline
  .tracefunfun
    position: absolute
    bottom: 0
    right: 0
    background-color: transparent

  .tracefun
    background-color: transparent
    &:before
      content: none

[data-page=IndexHandler]
  font-family: Verdana
  margin: 0 10%

.traceline
  margin-bottom: -1px


#wdb > header > #activity
  position: relative
  width: 50px
  height: 50px
  margin: 20px

  *
    box-sizing: border-box

  &:before
    content: ' '
    display: block
    background-color: $state-inner
    width: 20px
    height: 20px
    top: calc(50% - 10px)
    position: absolute
    left: calc(50% - 10px)
    border-radius: 100%

  .state
    width: 100%
    height: 100%

    &:before, &:after
      content: ' '
      display: block
      position: absolute
      width: 100%
      height: 100%
      top: -13px
      left: -13px
      border: 13px double $state-outer
      border-radius: 100%

    &:before
      animation: rotate 2s infinite linear

    &:after
      animation: rotate2 2s infinite linear
      animation-delay: -.5s

    &.inner
      &:before
        animation: rotate3 2s infinite linear
        animation-delay: -1.5s
      &:after
        animation: rotate4 2s infinite linear
        animation-delay: -1s
  +state

@keyframes rotate
  100%
    transform: rotate3d(2, 1, 1, 360deg)

@keyframes rotate2
  100%
    transform: rotate3d(1, 2, 1, 360deg)

@keyframes rotate3
  100%
    transform: rotate3d(2, -2, 1, 360deg)

@keyframes rotate4
  100%
    transform: rotate3d(-1, 2, 2, 360deg)

