h1 {
  color: #444;
}

h1 small {
  color: #ccc;
}

.traceline {
  background-color: #eeefff;
}

.traceline:nth-child(odd) {
  background-color: #fcfcff;
  border-right: 10px solid #eeefff;
}

.traceline:hover {
  border-color: #fdd;
}

.traceline.selected {
  border-color: #fcd;
}

.tracefunfun {
  background-color: #fff;
}

.tracefun {
  color: #88f;
  background-color: #eeefff;
}

.tracefun:before {
  border-color: #eeefff #eeefff #fff #fff;
}

.traceline:nth-child(odd) .tracefun {
  background-color: #fcfcff;
}

.traceline:nth-child(odd) .tracefun:before {
  border-color: #fcfcff #fcfcff #fff #fff;
}

.tracefile {
  color: #555;
}

.tracelno {
  color: #999;
}

ol.linenums li:hover {
  color: blue;
}

ol.linenums li.ctx.ctx-top {
  border-top: 1px solid #bbb;
}

ol.linenums li.ctx.ctx-bottom {
  border-bottom: 1px solid #bbb;
}

ol.linenums li.ctx, ol.linenums li.ctx:before {
  color: rgba(0, 125, 50, .6);
  background-color: rgba(0, 125, 255, .05) !important;
}

ol.linenums li.highlighted-other {
  color: black;
  background-color: rgba(0, 255, 0, .1) !important;
}

ol.linenums li.breakpoint {
  color: red;
  background-color: rgba(255, 0, 0, .15) !important;
}

ol.linenums li.highlighted, ol.linenums li.highlighted:before {
  color: green;
  background-color: rgba(0, 255, 0, .25) !important;
}

ol.linenums li.ask-breakpoint {
  color: yellow;
}


a.inspect {
  background-color: #f3f3f3;
  border: 1px solid #e3e3e3;
}

a.inspect:hover {
  background-color: #e3e3e3;
  border: 1px solid #d3d3d3;
}

#prompt:before, .prompted:before {
  color: #000;
  font-size: 12px;
}

#prompt, #prompt textarea {
  font-size: 14px;
  line-height: 15px;
}


.base {
  color: blue;
}

.completion {
  color: #88f;
}

#completions {
  font-size: 14px;
}
a
#completions td {
  padding: 0.25em;
}

#completions td.active .base {
  color: green;
}

#completions td.active .completion {
  color: forestgreen;
}

#completions td.active.complete .base {
  color: blue;
}

#comp-desc, #backsearch {
  color: blue;
  font-style: italic;
}

#sourcecode {
  box-shadow: inset -8px 0 20px #ddd;
}

.fun_name {
  color: blue;
}

.fun_punct {
  color: black;
}

.fun_param {
  color: #050;
}

.fun_param.active {
  color: #0a0;
}

.object {
  border: 1px solid #bbb;
}

.object tbody td {
  border: 2px solid rgba(0, 125, 255, .05);
}

.object tbody.toggle:hover td {
  background-color: rgba(0, 125, 255, .12);
}

.object .core {
  background-color: rgba(0, 125, 255, .05);
}

.object .method {
  background-color: rgba(0, 125, 255, .075);
}

.object .attr {
  background-color: rgba(0, 125, 255, .1);
}


