body, html {
   height:100%;
   overflow: hidden;
}

h1 {
  font-variant: small-caps;
  color: #444;
}

h1 small {
  display: block;
  color: #ccc;
  font-size: .5em;
}

#source {
  overflow: hidden;
  width: 70%;
  float: left;
  position: relative;
}

#sourcecode {
  overflow: auto;
  height: 50%;
}

#interpreter {
  overflow: auto;
  height: 50%;
}

#eval {
  width: 94%;
  vertical-align: middle;
  border: 1px solid #ccc;
  background-color: transparent;
  padding-left: 0;
}


#prompt {
  padding: .2em 0;
  font-size: 14px;
  font-family: Consolas,'Bitstream Vera Sans Mono','Courier New',Courier,monospace;
}

#prompt:before, .prompted:before {
  content: ">>> ";
}

#traceback {
  overflow-y: auto;
  font-family: serif;
  float: right;
  width: 30%;
  height: 100%;
}

.traceline {
  -webkit-transition: 750ms;
  /* padding: .25em; */
  background-color: #eeefff;
  border-right: 10px solid #fcfcff;
  margin: 0 0 0 1em;
  font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  clear: both;
  overflow: auto;
}

.traceline:nth-child(odd) {
  background-color: #fcfcff;
  border-right: 10px solid #eeefff;
}

.traceline:hover {
  border-color: #fdd;
}

.traceline.selected {
  border-color: #fcd;
}

.tracecode {
  padding: .25em;
  clear: both;
}

.tracefunfun {
  background-color: #fff;
  overflow: auto;
}

.tracefun {
  /* padding: .15em; */
  font-weight: bolder;
  color: #88f;
  font-size: .8em;
  text-align: right;
  float: right;
  background-color: #eeefff;
  line-height: 1.2;
}

.tracefun:before {
  content: '';
  width: 0;
  height: 0;
  border-color: #eeefff #eeefff #fff #fff;
  border-style: solid;
  border-width: .7em;
  display: inline-block;
  vertical-align: top;
}

.traceline:nth-child(odd) .tracefun {
  background-color: #fcfcff;

}

.traceline:nth-child(odd) .tracefun:before {
  border-color: #fcfcff #fcfcff #fff #fff;

}

.tracefilelno {
  padding: .15em;
}

.tracefile {
  color: #555;
}

.tracelno {
  color: #999;
}

.tracelno:before {
  content: ': ';
}

.prettyprint {
  border: none !important;
}

code:not(.prettyprinted) {
  opacity: 0.5;
}

ol.linenums li {
  -webkit-transition: 1s;
}

li.highlighted-other {
  color: black;
  background-color: #eee !important;
}

li.highlighted, li.highlighted:before {
  color: orangered;
  background-color: #fcd !important;
}

a.inspect {
  text-decoration: none;
}

a.inspect:after {
  content: ' {…}';
  color: #aaa;
}

a.inspect:hover {
  background-color: #f3f3f3;
  border: 1px solid #e3e3e3;
}

.long {
  display: none;
}

.short.close:after {
  content: '…"';
}
