body, html {
   height:100%;
   overflow: hidden;
}

h1 {
  font-variant: small-caps;
}

h1 small {
  display: block;
  font-size: .5em;
}

#source {
  overflow: hidden;
  width: 70%;
  float: left;
  position: relative;
}

#sourcecode {
  overflow: auto;
  height: 50%;
}

#interpreter {
  overflow: auto;
  height: 50%;
}

#eval {
  width: 94%;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
}


#prompt, .prompted {
  padding: .5em 0 0 0;
}

#prompt, #prompt textarea {
  font-family: 'Source Code Pro', monospace;
}

.trace {
  font-family: 'Source Code Pro', monospace;
}

#prompt:before, .prompted:before {
  content: ">>> ";
}

#traceback {
  overflow-y: auto;
  font-family: serif;
  float: right;
  width: 30%;
  height: 100%;
}

.traceline {
  -webkit-transition: border 750ms;
  margin: 0 0 0 1em;
  font-family: 'Source Code Pro', monospace;
  clear: both;
  overflow: auto;
}

.tracecode {
  padding: .25em;
  clear: both;
}

.tracefunfun {
  overflow: auto;
}

.tracefun {
  /* padding: .15em; */
  font-weight: bolder;
  font-size: .8em;
  text-align: right;
  float: right;
  line-height: 1.2;
}

.tracefun:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: .7em;
  display: inline-block;
  vertical-align: top;
}

.tracefilelno {
  padding: .15em;
}

.tracelno:before {
  content: ': ';
}

.prettyprint {
  border: none !important;
}

code:not(.prettyprinted) {
  opacity: 0.5;
}

ol.linenums li {
  -webkit-transition: 1s;
}

ol.linenums li:hover {
  -webkit-transition: 1s;
}

a.inspect {
  text-decoration: none;
}

a.inspect:after {
  content: ' {…}';
}

.long {
  display: none;
}

.short.close:after {
  content: '…"';
}

#comp-desc {
  text-align: left;
}

/* #completions { */
/*   min-height: 500px; */
/* } */
