$font: "neuropol-x";
$code-font: 12px/1.5 "Source Code Pro", monospace;
$fg: #ccc;
$alt-fg: #777;
$bg: lighten(#1d1f21, 5%);
$trace-bg: #1d1f21;
$trace-alt-bg: darken($bg, 5%);
$trace-hover: darken($bg, 10%);
$trace-sel: #ff5995;
$trace-fun: rgb(1, 183, 229);
$trace-file: #555;
$trace-lno: #999;
$source-shadow: black;
$lno-fg: #fff;
$lno-hover-fg: #8cedff;
$code-ctx-border: black;
$code-ctx-bg: rgba(0, 0, 0, .4);
$code-hl-fg: #b6e354;
$code-hl-bg: rgba(0, 0, 0, .8);
$code-hl-break-fg: #ff5995;
$code-hl-break-bg: rgba(1, 183, 229, .1);
$code-hl-break-ask-fg: yellow;
$code-hl-other-fg: black;
$code-hl-other-bg: rgba(0, 0, 0, .6);
$inspect-fg: #181818;
$inspect-middle: #111;
$inspect-bg: black;
$comp-base: $fg;
$comp: $alt-fg;
$comp-hl-base: red;
$comp-hl: orangered;
$comp-hl-full: #c66;
$comp-fun-name: #fff;
$comp-fun-punct: #fff;
$comp-fun-param: #969896;
$comp-fun-active-param: #01b7e5;
$mini-prompt-fg: #a8a8a8;
$obj-border: #191919;
$obj-inner-border: #111;
$obj-hover: #111;
$obj-core-bg: #0e0e0e;
$obj-method-bg: #141414;
$obj-attr-bg: #181818;
$obj-doc-bg: #1c1c1c;
$obj-source-bg: #202020;
$state-inner: rgba(0, 183, 229, 0.9);
$state-outer: #2187e7;
$cm-selected: darken($bg, 4%);
$cm-focused-selected: darken($bg, 6%);
$cm-gutter: hsl(210, 6%, 12%);
$cm-gutter-border: hsl(0, 0%, 19%);
$cm-gutter-text: hsl(0, 0%, 29%);
$cm-cursor: white;
$hl-default: #01b7e5;
$hl-keyword: #e91861;
$hl-atom: #845dc4;
$hl-number: #E56F01;
$hl-def: hsl(39, 80%, 69%);
$hl-variable: hsl(140, 2%, 77%);
$hl-variable-2: hsl(140, 2%, 70%);
$hl-variable-3: hsl(140, 2%, 63%);
$hl-property: #c5c8c6;
$hl-operator: hsl(207, 31%, 62%);
$hl-comment: #c5c8c6;
$hl-string: #e56f01;
$hl-string-2: #e56f01;
$hl-meta: hsl(171, 28%, 64%);
$hl-qualifier: hsl(171, 28%, 64%);
$hl-builtin: hsl(207, 31%, 62%);
$hl-bracket: hsl(207, 31%, 62%);
$hl-tag: #c5c8c6;
$hl-attribute: hsl(0, 50%, 60%);
$hl-header: hsl(0, 50%, 60%);
$hl-quote: hsl(0, 50%, 60%);
$hl-hr: hsl(0, 50%, 60%);
$hl-link: hsl(207, 31%, 62%);
$hl-error: hsl(0, 0%, 50%);