@font-face{
  font-family: "wdb_font";
  src: url("../fonts/wdb_font.woff") format("woff");
  font-weight: 700;
  font-style: normal;}
[class^="icon-"], [class*="icon-"]{
  font-family: 'wdb_font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
.icon-close:before{
  content: "\e600";}
.icon-remove:before{
  content: "\e601";}
.icon-open:before{
  content: "\e602";}