@charset "UTF-8";
@font-face {
  font-family: "Source Code Pro";
  src: url('/__wdb/fonts/source-code-pro-webfont.eot');
  src: url('/__wdb/fonts/source-code-pro-webfont.eot?#iefix') format('eot'), url('/__wdb/fonts/source-code-pro-webfont.woff') format('woff'), url('/__wdb/fonts/source-code-pro-webfont.ttf') format('truetype'), url('/__wdb/fonts/source-code-pro-webfont.otf') format('opentype'), url('/__wdb/fonts/source-code-pro-webfont.svg') format('svg');
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\000031}}
.prettyprint {
  font: 12px/1.5 "Source Code Pro", monospace;
  border: 5px solid #dddddd;
  padding: 7px 0 5px;
  font-size: 14px;
  white-space: pre;
  overflow: auto;
  max-height: 500px;
  width: 100%;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\000034}}
.prettyprint ol, .prettyprint ul {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\000037}}
.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  list-style: decimal outside;
  padding-left: 47px;
  color: #afafaf;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000314}}
.prettyprint ol.linenums li {
  padding-left: 15px;
  border-left: 3px #6ce26c solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000317}}
.prettyprint li > * {
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000327}}
.prettyprint ol, .prettyprint ul {
  padding: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000330}}
.prettyprint li.L0, .prettyprint li.L1, .prettyprint li.L2, .prettyprint li.L3, .prettyprint li.L4, .prettyprint li.L5, .prettyprint li.L6, .prettyprint li.L7, .prettyprint li.L8, .prettyprint li.L9 {
  list-style: inherit;
  background: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000334}}
.prettyprint.alternate .prettyprint.alternate li.L1 {
  background: whitesmoke;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000337}}
.prettyprint.alternate li.L3, .prettyprint.alternate li.L5, .prettyprint.alternate li.L7, .prettyprint.alternate li.L9 {
  background: whitesmoke;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000340}}
.pln {
  color: #c5c8c6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000342}}
.str {
  color: #b5bd68;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000344}}
.kwd {
  color: #b294bb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000346}}
.com {
  color: #969896;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000348}}
.typ {
  color: #81a2be;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000350}}
.lit {
  color: #de935f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000352}}
.pun {
  color: #c5c8c6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000354}}
.opn {
  color: #c5c8c6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000356}}
.clo {
  color: #c5c8c6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000358}}
.tag {
  color: #cc6666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000360}}
.atn {
  color: #de935f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000362}}
.atv {
  color: #8abeb7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000364}}
.dec {
  color: #de935f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000366}}
.var {
  color: #cc6666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000368}}
.fun {
  color: #81a2be;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\000036}}
body, html {
  color: #cccccc;
  background-color: #1d1f21;
  height: 100%;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000312}}
a {
  color: #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000315}}
h1 {
  color: #cccccc;
  font-variant: small-caps;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000318}}
h1 small {
  color: #777777;
  display: block;
  font-size: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000323}}
code {
  font: 12px/1.5 "Source Code Pro", monospace;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000327}}
#source {
  overflow: hidden;
  width: 70%;
  float: left;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000333}}
#source > .CodeMirror {
  font-family: "Source Code Pro" !important;
  font-size: 15px;
  height: 50%;
  -webkit-box-shadow: inset -8px 0 20px black;
  -moz-box-shadow: inset -8px 0 20px black;
  box-shadow: inset -8px 0 20px black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000338}}
#source > .CodeMirror .CodeMirror-scroll {
  overflow-x: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000341}}
#source > .CodeMirror .CodeMirror-hscrollbar {
  bottom: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000344}}
#source > .CodeMirror .CodeMirror-linebackground {
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000347}}
#sourcecode, #interpreter {
  overflow: auto;
  height: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000351}}
#eval {
  width: 94%;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000361}}
#interpreter {
  font: 12px/1.5 "Source Code Pro", monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000364}}
#prompt, .prompted {
  padding: 0.5em 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000366}}
#prompt:before, .prompted:before {
  font: 12px/1.5 "Source Code Pro", monospace;
  color: #c5c8c6;
  content: ">>> ";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000372}}
#prompt textarea {
  color: #c5c8c6;
  font: 12px/1.5 "Source Code Pro", monospace;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000378}}
#completions .base {
  color: #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000380}}
#completions .completion {
  color: #777777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000383}}
#completions td {
  padding: 0.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000386}}
#completions td.active .base {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000388}}
#completions td.active .completion {
  color: orangered;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000390}}
#completions td.active.complete .base {
  color: #cc6666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000393}}
#comp-desc, #backsearch {
  color: #81a2be;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000397}}
.trace {
  font: 12px/1.5 "Source Code Pro", monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003100}}
#traceback {
  overflow-y: auto;
  float: right;
  width: 30%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003106}}
.traceline {
  -webkit-transition: border 750ms;
  -moz-transition: border 750ms;
  -o-transition: border 750ms;
  transition: border 750ms;
  margin: 0 0 0 1em;
  font: 12px/1.5 "Source Code Pro", monospace;
  clear: both;
  overflow: auto;
  background-color: #1b1b1b;
  border-right: 10px solid #181818;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003115}}
.traceline:before {
  border-color: #181818 #181818 #1d1f21 #1d1f21;
  background-color: #181818;
  border-right: 10px solid #1b1b1b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003121}}
.traceline:nth-child(odd) .tracefun {
  background-color: #181818;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003123}}
.traceline:nth-child(odd) .tracefun:before {
  border-color: #181818 #181818 #1d1f21 #1d1f21;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003126}}
.traceline:hover {
  border-color: #b6e354;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003128}}
.traceline.selected {
  border-color: #ff5995;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003131}}
.tracecode {
  padding: 0.25em;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003135}}
.tracefunfun {
  background-color: #1d1f21;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003139}}
.tracefun {
  /* padding: .15em; */
  font-weight: bolder;
  font-size: 0.8em;
  text-align: right;
  float: right;
  line-height: 1.2;
  color: #8888ff;
  background-color: #1b1b1b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003149}}
.tracefun:before {
  border-color: #1b1b1b #1b1b1b #1d1f21 #1d1f21;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.7em;
  display: inline-block;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003159}}
.tracefilelno {
  padding: 0.15em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003162}}
.tracefile {
  color: #555555;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003165}}
.tracelno {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003167}}
.tracelno:before {
  content: ": ";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003170}}
.prettyprint {
  border: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003173}}
.CodeMirror-linenumber {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003176}}
.CodeMirror-linebackground {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003179}}
.CodeMirror-linebackground:hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #8cedff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003182}}
.CodeMirror-linebackground.ctx {
  color: white;
  background-color: #181818;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003183}}
.CodeMirror-linebackground.ctx.ctx-top {
  border-top: 1px solid black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003185}}
.CodeMirror-linebackground.ctx.ctx-bottom {
  border-bottom: 1px solid black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003189}}
.CodeMirror-linebackground.ctx:before {
  color: white;
  background-color: #181818;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003192}}
.CodeMirror-linebackground.highlighted-other {
  color: black;
  background-color: #111111 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003195}}
.CodeMirror-linebackground.breakpoint {
  color: #ff5995;
  background-color: rgba(255, 89, 149, 0.15) !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003198}}
.CodeMirror-linebackground.highlighted {
  color: #b6e354;
  background-color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003201}}
.CodeMirror-linebackground.highlighted:before {
  color: #b6e354;
  background-color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003204}}
.CodeMirror-linebackground.ask-breakpoint {
  color: yellow;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003207}}
a.inspect {
  text-decoration: none;
  background-color: #181818;
  border: 1px solid #111111;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003211}}
a.inspect:hover {
  background-color: #111111;
  border: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003215}}
.long {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003218}}
.short.close:after {
  content: '…"';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003221}}
#comp-desc {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003224}}
#comp-desc .fun_name {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003227}}
#comp-desc .fun_punct {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003230}}
#comp-desc .fun_param {
  color: #969896;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003232}}
#comp-desc .fun_param.active {
  color: #de935f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003235}}
.backsearched {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003238}}
.object {
  border: 1px solid #191919;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003245}}
.object tbody td {
  border: 2px solid #111111;
  padding: 0.2em 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003248}}
.object tbody.hidden:not(.toggle) {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003250}}
.object tbody:not(.toggle) tr > :first-child {
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003253}}
.object tbody.toggle:hover {
  background-color: #111111;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003255}}
.object tbody.toggle td {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003257}}
.object tbody.toggle td:after {
  content: "[-]";
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003260}}
.object tbody.toggle.hidden td:after {
  content: "[+]";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003263}}
.object .core {
  background-color: #0e0e0e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003265}}
.object .method {
  background-color: #141414;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003267}}
.object .attr {
  background-color: #181818;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003270}}
.nogood {
  color: red !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003273}}
.nogood > .pln, .nogood > .typ {
  color: red !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003276}}
.waiting_for_hl {
  opacity: 0.4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003280}}
code, code span {
  -webkit-transition: opacity 50ms;
  -moz-transition: opacity 50ms;
  -o-transition: opacity 50ms;
  transition: opacity 50ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/wdb-dark\.sass}line{font-family:\000035}}
::-webkit-scrollbar {
  background: #1d1f21;
  border: 1px solid black;
  width: 0.75em;
  height: 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/wdb-dark\.sass}line{font-family:\0000311}}
::-webkit-scrollbar-thumb {
  background: #181818;
  border: 1px solid black;
}
