@charset "UTF-8";
@font-face {
  font-family: "Source Code Pro";
  src: url('/__wdb/fonts/source-code-pro-webfont.eot');
  src: url('/__wdb/fonts/source-code-pro-webfont.eot?#iefix') format('eot'), url('/__wdb/fonts/source-code-pro-webfont.woff') format('woff'), url('/__wdb/fonts/source-code-pro-webfont.ttf') format('truetype'), url('/__wdb/fonts/source-code-pro-webfont.otf') format('opentype'), url('/__wdb/fonts/source-code-pro-webfont.svg') format('svg');
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\000031}}
.prettyprint {
  font: 14px/15px "Source Code Pro", monospace;
  border: 5px solid #dddddd;
  padding: 7px 0 5px;
  font-size: 14px;
  white-space: pre;
  overflow: auto;
  max-height: 500px;
  width: 100%;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\000034}}
.prettyprint ol, .prettyprint ul {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\000037}}
.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  list-style: decimal outside;
  padding-left: 47px;
  color: #afafaf;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000314}}
.prettyprint ol.linenums li {
  padding-left: 15px;
  border-left: 3px #6ce26c solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000317}}
.prettyprint li > * {
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000327}}
.prettyprint ol, .prettyprint ul {
  padding: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000330}}
.prettyprint li.L0, .prettyprint li.L1, .prettyprint li.L2, .prettyprint li.L3, .prettyprint li.L4, .prettyprint li.L5, .prettyprint li.L6, .prettyprint li.L7, .prettyprint li.L8, .prettyprint li.L9 {
  list-style: inherit;
  background: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000334}}
.prettyprint.alternate .prettyprint.alternate li.L1 {
  background: whitesmoke;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000337}}
.prettyprint.alternate li.L3, .prettyprint.alternate li.L5, .prettyprint.alternate li.L7, .prettyprint.alternate li.L9 {
  background: whitesmoke;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000340}}
.pln {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000342}}
.str {
  color: blue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000344}}
.kwd {
  color: #006699;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000346}}
.com {
  color: #008200;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000348}}
.typ {
  color: #660066;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000350}}
.lit {
  color: #006666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000352}}
.pun {
  color: #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000354}}
.opn {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000356}}
.clo {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000358}}
.tag {
  color: #006699;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000360}}
.atn {
  color: gray;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000362}}
.atv {
  color: blue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000364}}
.dec {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000366}}
.var {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_hl\.sass}line{font-family:\0000368}}
.fun {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\000036}}
body, html {
  color: black;
  background-color: #444444;
  height: 100%;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000312}}
a {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000315}}
h1 {
  color: black;
  font-variant: small-caps;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000318}}
h1 small {
  color: #cccccc;
  display: block;
  font-size: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000323}}
code {
  font: 14px/15px "Source Code Pro", monospace;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000327}}
#source {
  overflow: hidden;
  width: 70%;
  float: left;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000333}}
#source > .CodeMirror {
  font-family: "Source Code Pro" !important;
  font-size: 15px;
  height: 50%;
  -webkit-box-shadow: inset -8px 0 20px #dddddd;
  -moz-box-shadow: inset -8px 0 20px #dddddd;
  box-shadow: inset -8px 0 20px #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000338}}
#source > .CodeMirror .CodeMirror-scroll {
  overflow-x: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000341}}
#source > .CodeMirror .CodeMirror-hscrollbar {
  bottom: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000344}}
#source > .CodeMirror .CodeMirror-linebackground {
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000347}}
#source > .CodeMirror .breakpoints {
  width: 0.6em;
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000351}}
#sourcecode, #interpreter {
  overflow: auto;
  height: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000355}}
#eval {
  width: 94%;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000365}}
#interpreter {
  font: 14px/15px "Source Code Pro", monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000368}}
#prompt, .prompted {
  padding: 0.5em 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000370}}
#prompt:before, .prompted:before {
  font: 14px/15px "Source Code Pro", monospace;
  color: black;
  content: ">>> ";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000376}}
#prompt textarea {
  color: black;
  font: 14px/15px "Source Code Pro", monospace;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000382}}
#completions .base {
  color: blue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000384}}
#completions .completion {
  color: #8888ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000387}}
#completions td {
  padding: 0.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000390}}
#completions td.active .base {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000392}}
#completions td.active .completion {
  color: orangered;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000394}}
#completions td.active.complete .base {
  color: #cc6666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\0000397}}
#comp-desc, #backsearch {
  color: blue;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003101}}
.trace {
  font: 14px/15px "Source Code Pro", monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003104}}
#traceback {
  overflow-y: auto;
  float: right;
  width: 30%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003110}}
.traceline {
  -webkit-transition: border 750ms;
  -moz-transition: border 750ms;
  -o-transition: border 750ms;
  transition: border 750ms;
  margin: 0 0 0 1em;
  font: 14px/15px "Source Code Pro", monospace;
  clear: both;
  overflow: auto;
  background-color: #eeefff;
  border-right: 10px solid #fcfcff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003119}}
.traceline:before {
  border-color: #fcfcff #fcfcff #444444 #444444;
  background-color: #fcfcff;
  border-right: 10px solid #eeefff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003125}}
.traceline:nth-child(odd) .tracefun {
  background-color: #fcfcff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003127}}
.traceline:nth-child(odd) .tracefun:before {
  border-color: #fcfcff #fcfcff #444444 #444444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003130}}
.traceline:hover {
  border-color: #ffdddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003132}}
.traceline.selected {
  border-color: #ffccdd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003135}}
.tracecode {
  padding: 0.25em;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003139}}
.tracefunfun {
  background-color: #444444;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003143}}
.tracefun {
  /* padding: .15em; */
  font-weight: bolder;
  font-size: 0.8em;
  text-align: right;
  float: right;
  line-height: 1.2;
  color: #8888ff;
  background-color: #eeefff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003153}}
.tracefun:before {
  border-color: #eeefff #eeefff #444444 #444444;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.7em;
  display: inline-block;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003163}}
.tracefilelno {
  padding: 0.15em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003166}}
.tracefile {
  color: #555555;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003169}}
.tracelno {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003171}}
.tracelno:before {
  content: ": ";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003174}}
.prettyprint {
  border: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003177}}
.CodeMirror-linenumber {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003180}}
.CodeMirror-linebackground {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003183}}
.CodeMirror-linebackground:hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: blue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003186}}
.CodeMirror-linebackground.ctx {
  color: rgba(0, 125, 50, 0.6);
  background-color: rgba(0, 125, 255, 0.05);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003187}}
.CodeMirror-linebackground.ctx.ctx-top {
  border-top: 1px solid #bbbbbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003189}}
.CodeMirror-linebackground.ctx.ctx-bottom {
  border-bottom: 1px solid #bbbbbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003193}}
.CodeMirror-linebackground.ctx:before {
  color: rgba(0, 125, 50, 0.6);
  background-color: rgba(0, 125, 255, 0.05);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003196}}
.CodeMirror-linebackground.highlighted-other {
  color: black;
  background-color: rgba(0, 255, 0, 0.1) !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003199}}
.CodeMirror-linebackground.breakpoint {
  color: red;
  background-color: rgba(255, 0, 0, 0.15) !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003202}}
.CodeMirror-linebackground.highlighted {
  color: green;
  background-color: rgba(0, 255, 0, 0.25);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003205}}
.CodeMirror-linebackground.highlighted:before {
  color: green;
  background-color: rgba(0, 255, 0, 0.25);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003208}}
.CodeMirror-linebackground.ask-breakpoint {
  color: yellow;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003211}}
a.inspect {
  text-decoration: none;
  background-color: #f3f3f3;
  border: 1px solid #e3e3e3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003215}}
a.inspect:hover {
  background-color: #e3e3e3;
  border: 1px solid lightgrey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003219}}
.long {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003222}}
.short.close:after {
  content: '…"';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003225}}
#comp-desc {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003228}}
#comp-desc .fun_name {
  color: blue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003231}}
#comp-desc .fun_punct {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003234}}
#comp-desc .fun_param {
  color: #005500;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003236}}
#comp-desc .fun_param.active {
  color: #00aa00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003239}}
.backsearched {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003242}}
.object {
  border: 1px solid #bbbbbb;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003249}}
.object tbody td {
  border: 2px solid rgba(0, 125, 255, 0.05);
  padding: 0.2em 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003252}}
.object tbody.hidden:not(.toggle) {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003254}}
.object tbody:not(.toggle) tr > :first-child {
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003257}}
.object tbody.toggle:hover {
  background-color: rgba(0, 125, 255, 0.12);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003259}}
.object tbody.toggle td {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003261}}
.object tbody.toggle td:after {
  content: "[-]";
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003264}}
.object tbody.toggle.hidden td:after {
  content: "[+]";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003267}}
.object .core {
  background-color: rgba(0, 125, 255, 0.05);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003269}}
.object .method {
  background-color: rgba(0, 125, 255, 0.075);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003271}}
.object .attr {
  background-color: rgba(0, 125, 255, 0.1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003274}}
.nogood {
  color: red !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003277}}
.nogood > .pln, .nogood > .typ {
  color: red !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003280}}
.waiting_for_hl {
  opacity: 0.4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zero\/kozea\/wdb\/wdb\/sass\/_wdb\.sass}line{font-family:\00003284}}
code, code span {
  -webkit-transition: opacity 50ms;
  -moz-transition: opacity 50ms;
  -o-transition: opacity 50ms;
  transition: opacity 50ms;
}
