/*
Syntax error: Undefined variable: "$comp-fun-name".
        on line 201 of /home/zero/kozea/wdb/wdb/sass/_wdb.sass
        from line 2 of /home/zero/kozea/wdb/wdb/sass/wdb-light.sass

Backtrace:
/home/zero/kozea/wdb/wdb/sass/_wdb.sass:201
/home/zero/kozea/wdb/wdb/sass/wdb-light.sass:2
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/script/variable.rb:49:in `_perform'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/script/node.rb:50:in `perform'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:301:in `visit_prop'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:53:in `map'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:325:in `visit_rule'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:53:in `map'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:325:in `visit_rule'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:230:in `block in visit_import'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:230:in `map'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:230:in `visit_import'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:53:in `map'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/tree/root_node.rb:20:in `render'
/home/zero/.gem/ruby/1.9.1/gems/sass-3.3.0.alpha.0/lib/sass/engine.rb:265:in `render'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/inotify.rb:12:in `block in add_handler'
/home/zero/.gem/ruby/1.9.1/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:200:in `call'
/home/zero/.gem/ruby/1.9.1/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:200:in `block in watch'
/home/zero/.gem/ruby/1.9.1/gems/rb-inotify-0.8.8/lib/rb-inotify/watcher.rb:41:in `[]'
/home/zero/.gem/ruby/1.9.1/gems/rb-inotify-0.8.8/lib/rb-inotify/watcher.rb:41:in `callback!'
/home/zero/.gem/ruby/1.9.1/gems/rb-inotify-0.8.8/lib/rb-inotify/event.rb:128:in `callback!'
/home/zero/.gem/ruby/1.9.1/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:233:in `block in process'
/home/zero/.gem/ruby/1.9.1/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:233:in `each'
/home/zero/.gem/ruby/1.9.1/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:233:in `process'
/home/zero/.gem/ruby/1.9.1/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:216:in `run'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/inotify.rb:20:in `run'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/home/zero/.gem/ruby/1.9.1/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/bin/compass:44:in `call'
/home/zero/.gem/ruby/1.9.1/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/home/zero/.gem/ruby/1.9.1/bin/compass:23:in `load'
/home/zero/.gem/ruby/1.9.1/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$comp-fun-name\".\A         on line 201 of /home/zero/kozea/wdb/wdb/sass/_wdb.sass\A         from line 2 of /home/zero/kozea/wdb/wdb/sass/wdb-light.sass"; }
