@charset "UTF-8";
/* line 3, ../sass/_wdb.sass */
body, html {
  color: #cccccc;
  background-color: #1d1f21;
  height: 100%;
  overflow: hidden;
}

/* line 9, ../sass/_wdb.sass */
h1 {
  color: #cccccc;
  font-variant: small-caps;
}
/* line 12, ../sass/_wdb.sass */
h1 small {
  color: #777777;
  display: block;
  font-size: 0.5em;
}

/* line 17, ../sass/_wdb.sass */
#source {
  overflow: hidden;
  width: 70%;
  float: left;
  position: relative;
}

/* line 23, ../sass/_wdb.sass */
#sourcecode {
  -webkit-box-shadow: inset -8px 0 20px black;
  -moz-box-shadow: inset -8px 0 20px black;
  box-shadow: inset -8px 0 20px black;
}

/* line 26, ../sass/_wdb.sass */
#sourcecode, #interpreter {
  overflow: auto;
  height: 50%;
}

/* line 30, ../sass/_wdb.sass */
#eval {
  width: 94%;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
}

/* line 40, ../sass/_wdb.sass */
#prompt, .prompted {
  padding: 0.5em 0 0 0;
}
/* line 42, ../sass/_wdb.sass */
#prompt:before, .prompted:before {
  color: #c5c8c6;
  content: ">>> ";
}

/* line 46, ../sass/_wdb.sass */
#prompt {
  font: 900 12px/1.5 "Source Code Pro", monospace;
}
/* line 48, ../sass/_wdb.sass */
#prompt textarea {
  color: #c5c8c6;
  font: 900 12px/1.5 "Source Code Pro", monospace;
}

/* line 52, ../sass/_wdb.sass */
#completions {
  font: 900 12px/1.5 "Source Code Pro", monospace;
}
/* line 54, ../sass/_wdb.sass */
#completions .base {
  color: #cccccc;
}
/* line 56, ../sass/_wdb.sass */
#completions .completion {
  color: #777777;
}
/* line 59, ../sass/_wdb.sass */
#completions td {
  padding: 0.25em;
}
/* line 62, ../sass/_wdb.sass */
#completions td.active .base {
  color: red;
}
/* line 64, ../sass/_wdb.sass */
#completions td.active .completion {
  color: orangered;
}
/* line 66, ../sass/_wdb.sass */
#completions td.active.complete .base {
  color: #cc6666;
}

/* line 69, ../sass/_wdb.sass */
#comp-desc, #backsearch {
  color: #81a2be;
  font-style: italic;
}

/* line 73, ../sass/_wdb.sass */
.trace {
  font: 900 12px/1.5 "Source Code Pro", monospace;
}

/* line 76, ../sass/_wdb.sass */
#traceback {
  overflow-y: auto;
  float: right;
  width: 30%;
  height: 100%;
}

/* line 82, ../sass/_wdb.sass */
.traceline {
  -webkit-transition: border 750ms;
  -moz-transition: border 750ms;
  -o-transition: border 750ms;
  transition: border 750ms;
  margin: 0 0 0 1em;
  font: 900 12px/1.5 "Source Code Pro", monospace;
  clear: both;
  overflow: auto;
  background-color: #1b1b1b;
  border-right: 10px solid #181818;
}
/* line 91, ../sass/_wdb.sass */
.traceline:before {
  border-color: #181818 #181818 #1d1f21 #1d1f21;
  background-color: #181818;
  border-right: 10px solid #1b1b1b;
}
/* line 97, ../sass/_wdb.sass */
.traceline:nth-child(odd) .tracefun {
  background-color: #181818;
}
/* line 99, ../sass/_wdb.sass */
.traceline:nth-child(odd) .tracefun:before {
  border-color: #181818 #181818 #1d1f21 #1d1f21;
}
/* line 102, ../sass/_wdb.sass */
.traceline:hover {
  border-color: #b6e354;
}
/* line 104, ../sass/_wdb.sass */
.traceline.selected {
  border-color: #ff5995;
}

/* line 107, ../sass/_wdb.sass */
.tracecode {
  padding: 0.25em;
  clear: both;
}

/* line 111, ../sass/_wdb.sass */
.tracefunfun {
  background-color: #1d1f21;
  overflow: auto;
}

/* line 115, ../sass/_wdb.sass */
.tracefun {
  /* padding: .15em; */
  font-weight: bolder;
  font-size: 0.8em;
  text-align: right;
  float: right;
  line-height: 1.2;
  color: #8888ff;
  background-color: #1b1b1b;
}
/* line 125, ../sass/_wdb.sass */
.tracefun:before {
  border-color: #1b1b1b #1b1b1b #1d1f21 #1d1f21;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.7em;
  display: inline-block;
  vertical-align: top;
}

/* line 135, ../sass/_wdb.sass */
.tracefilelno {
  padding: 0.15em;
}

/* line 138, ../sass/_wdb.sass */
.tracefile {
  color: #555555;
}

/* line 141, ../sass/_wdb.sass */
.tracelno {
  color: #999999;
}
/* line 143, ../sass/_wdb.sass */
.tracelno:before {
  content: ": ";
}

/* line 146, ../sass/_wdb.sass */
.prettyprint {
  border: none !important;
}

/* line 149, ../sass/_wdb.sass */
code:not(.prettyprinted) {
  opacity: 0.5;
}

/* line 152, ../sass/_wdb.sass */
ol.linenums li {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
/* line 155, ../sass/_wdb.sass */
ol.linenums li:hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #8cedff;
}
/* line 158, ../sass/_wdb.sass */
ol.linenums li.ctx {
  color: white;
  background-color: #181818;
}
/* line 159, ../sass/_wdb.sass */
ol.linenums li.ctx.ctx-top {
  border-top: 1px solid black;
}
/* line 161, ../sass/_wdb.sass */
ol.linenums li.ctx.ctx-bottom {
  border-bottom: 1px solid black;
}
/* line 165, ../sass/_wdb.sass */
ol.linenums li.ctx:before {
  color: white;
  background-color: #181818;
}
/* line 168, ../sass/_wdb.sass */
ol.linenums li.highlighted-other {
  color: black;
  background-color: #111111 !important;
}
/* line 171, ../sass/_wdb.sass */
ol.linenums li.breakpoint {
  color: #ff5995;
  background-color: rgba(255, 89, 149, 0.15) !important;
}
/* line 174, ../sass/_wdb.sass */
ol.linenums li.highlighted {
  color: #b6e354;
  background-color: black;
}
/* line 177, ../sass/_wdb.sass */
ol.linenums li.highlighted:before {
  color: #b6e354;
  background-color: black;
}
/* line 180, ../sass/_wdb.sass */
ol.linenums li.ask-breakpoint {
  color: yellow;
}

/* line 183, ../sass/_wdb.sass */
a.inspect {
  text-decoration: none;
  background-color: #181818;
  border: 1px solid #111111;
}
/* line 187, ../sass/_wdb.sass */
a.inspect:hover {
  background-color: #111111;
  border: 1px solid black;
}

/* line 191, ../sass/_wdb.sass */
.long {
  display: none;
}

/* line 194, ../sass/_wdb.sass */
.short.close:after {
  content: '…"';
}

/* line 197, ../sass/_wdb.sass */
#comp-desc {
  text-align: left;
}
/* line 200, ../sass/_wdb.sass */
#comp-desc .fun_name {
  color: white;
}
/* line 203, ../sass/_wdb.sass */
#comp-desc .fun_punct {
  color: white;
}
/* line 206, ../sass/_wdb.sass */
#comp-desc .fun_param {
  color: #969896;
}
/* line 208, ../sass/_wdb.sass */
#comp-desc .fun_param.active {
  color: #de935f;
}

/* line 211, ../sass/_wdb.sass */
.backsearched {
  text-decoration: underline;
}

/* line 214, ../sass/_wdb.sass */
.object {
  border: 1px solid #191919;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em;
}
/* line 221, ../sass/_wdb.sass */
.object tbody td {
  border: 2px solid #111111;
  padding: 0.2em 0.5em;
}
/* line 224, ../sass/_wdb.sass */
.object tbody.hidden:not(.toggle) {
  display: none;
}
/* line 226, ../sass/_wdb.sass */
.object tbody:not(.toggle) tr > :first-child {
  vertical-align: top;
}
/* line 229, ../sass/_wdb.sass */
.object tbody.toggle:hover {
  background-color: #111111;
}
/* line 231, ../sass/_wdb.sass */
.object tbody.toggle td {
  text-align: center;
}
/* line 233, ../sass/_wdb.sass */
.object tbody.toggle td:after {
  content: "[-]";
  float: right;
}
/* line 236, ../sass/_wdb.sass */
.object tbody.toggle.hidden td:after {
  content: "[+]";
}
/* line 239, ../sass/_wdb.sass */
.object .core {
  background-color: #0e0e0e;
}
/* line 241, ../sass/_wdb.sass */
.object .method {
  background-color: #141414;
}
/* line 243, ../sass/_wdb.sass */
.object .attr {
  background-color: #181818;
}

/* line 246, ../sass/_wdb.sass */
.nogood {
  color: red !important;
}
/* line 249, ../sass/_wdb.sass */
.nogood > .pln, .nogood > .typ {
  color: red !important;
}

/* line 5, ../sass/wdb-dark.sass */
::-webkit-scrollbar {
  background: #1d1f21;
  border: 1px solid black;
  width: 0.75em;
  height: 0.75em;
}

/* line 11, ../sass/wdb-dark.sass */
::-webkit-scrollbar-thumb {
  background: #181818;
  border: 1px solid black;
}
