.CodeMirror, code {
  font-family: "Roboto Mono"; }

.source-editor .CodeMirror {
  height: calc(50vh - 64px); }

.prompt .CodeMirror {
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .prompt .CodeMirror.CodeMirror-focused {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.interpreter {
  height: calc(50vh - 40px);
  overflow: auto;
  outline: 0; }
  .interpreter.full-height {
    height: calc(100vh - 40px - 64px); }
  .interpreter table td:first-child code {
    white-space: nowrap; }
  .interpreter table td:last-child code {
    word-break: break-all; }
  .interpreter a.inspect {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.title {
  white-space: pre; }

.scrollback .scroll-line {
  padding: 4px; }

footer.mdl-mini-footer {
  overflow: hidden;
  height: 32px;
  padding: 4px 1em; }
  footer.mdl-mini-footer .mdl-spinner {
    margin: 2px 0; }

table {
  margin: 2em auto;
  width: 95%; }
  table tbody.closed {
    display: none; }

.prompt {
  width: 100%;
  padding: 0; }

.duration {
  float: right; }

.trace-line code {
  font-size: .75em;
  word-break: normal; }

.trace-line:hover {
  background: rgba(0, 0, 0, 0.05); }

.trace-line.real-selected {
  background: rgba(255, 255, 255, 0.9); }
  .trace-line.real-selected:hover {
    background: rgba(0, 0, 0, 0.1); }

.trace-line.selected {
  background: rgba(0, 0, 0, 0.08); }
  .trace-line.selected:hover {
    background: rgba(0, 0, 0, 0.13); }

.CodeMirror-linebackground {
  transition: background-color 1s; }
  .CodeMirror-linebackground.ctx {
    background-color: rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5); }
    .CodeMirror-linebackground.ctx.ctx-top {
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  .CodeMirror-linebackground.footstep {
    background-color: rgba(0, 0, 0, 0.1); }
  .CodeMirror-linebackground.breakpoint {
    background-color: rgba(255, 0, 0, 0.1); }
  .CodeMirror-linebackground.highlighted {
    background-color: rgba(0, 0, 0, 0.1); }
  .CodeMirror-linebackground.breakpoint.highlighted {
    background-color: rgba(255, 0, 0, 0.2); }
  .CodeMirror-linebackground.ask-breakpoint {
    background-color: rgba(255, 0, 0, 0.05); }

code {
  white-space: pre-wrap;
  word-break: break-word; }

.ellipsis {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  width: 100%; }
