.CodeMirror, code {
  font-family: "Roboto Mono"; }

.source-editor .CodeMirror {
  height: calc(50vh - 64px); }

.interpreter {
  height: calc(50vh - 40px);
  outline: 0;
  display: flex;
  flex-direction: column; }
  .interpreter .watchers .watching, .interpreter .watchers a.inspect, .interpreter .watchers code, .interpreter .watchers div.value {
    display: inline-block; }
  .interpreter .watchers .watching {
    margin-right: 1em; }
    .interpreter .watchers .watching:not(:last-child)::after {
      content: ', '; }
    .interpreter .watchers .watching .name {
      cursor: not-allowed; }
  .interpreter .terminal {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative; }
  .interpreter.full-height {
    height: calc(100vh - 40px - 64px); }
  .interpreter table td.key code {
    white-space: nowrap; }
  .interpreter table td.val code {
    word-break: break-all; }
  .interpreter a.inspect {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    cursor: help; }
  .interpreter .prompt, .interpreter .for {
    margin-left: 26px; }
    .interpreter .prompt::before, .interpreter .for::before {
      content: '>>>';
      position: absolute;
      left: 0; }
  .interpreter .prompt:before {
    margin-top: 4px;
    font-family: "Roboto Mono"; }
  .interpreter .prompt .CodeMirror {
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .interpreter .prompt .CodeMirror.extra-dialog {
      padding-bottom: 2em; }
    .interpreter .prompt .CodeMirror .CodeMirror-cursor {
      visibility: visible !important;
      width: auto;
      border: none;
      outline: 1px solid rgba(0, 0, 0, 0.5); }
    .interpreter .prompt .CodeMirror.CodeMirror-focused .CodeMirror-cursor {
      background: rgba(0, 0, 0, 0.75);
      animation: blink 1s ease-in-out infinite;
      outline: 0; }

.title {
  white-space: pre; }

.scrollback .scroll-line {
  padding: 4px; }

footer.mdl-mini-footer {
  overflow: hidden;
  height: 32px;
  padding: 4px 1em; }
  footer.mdl-mini-footer .mdl-spinner {
    margin: 2px 0; }

table {
  margin: 2em auto;
  width: 95%; }
  table tbody.closed {
    display: none; }

.duration {
  float: right; }

.trace-line code {
  font-size: .75em;
  word-break: normal; }

.trace-line .material-icons {
  font-size: .8em;
  margin-right: .5em;
  vertical-align: middle; }

.trace-line:hover {
  background: rgba(0, 0, 0, 0.05); }

.trace-line.real-selected {
  background: rgba(255, 255, 255, 0.9); }
  .trace-line.real-selected:hover {
    background: rgba(0, 0, 0, 0.1); }

.trace-line.selected {
  background: rgba(0, 0, 0, 0.08); }
  .trace-line.selected:hover {
    background: rgba(0, 0, 0, 0.13); }

.CodeMirror-linebackground {
  transition: background-color 1s; }
  .CodeMirror-linebackground.ctx {
    background-color: rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5); }
    .CodeMirror-linebackground.ctx.ctx-top {
      border-top: 1px solid rgba(0, 0, 0, 0.5); }
    .CodeMirror-linebackground.ctx.ctx-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  .CodeMirror-linebackground.footstep {
    background-color: rgba(0, 0, 0, 0.1); }
  .CodeMirror-linebackground.breakpoint {
    background-color: rgba(255, 0, 0, 0.1); }
  .CodeMirror-linebackground.highlighted {
    background-color: rgba(0, 0, 0, 0.1); }
  .CodeMirror-linebackground.breakpoint.highlighted {
    background-color: rgba(255, 0, 0, 0.2); }
  .CodeMirror-linebackground.ask-breakpoint {
    background-color: rgba(255, 0, 0, 0.05); }

code {
  white-space: pre-wrap;
  word-break: break-word; }

.ellipsis {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  width: 100%; }

.CodeMirror-dialog .not-found {
  color: orangered; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (min-width: 1025px) {
  .mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
    padding-right: 20px; } }
