@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Regular.ttf.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Semibold.ttf.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Bold.ttf.woff") format("woff");
  font-weight: 900; }

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

.CodeMirror, .CodeMirror-standalone {
  background: none;
  color: grey; }
  .CodeMirror .CodeMirror-selected, .CodeMirror-standalone .CodeMirror-selected {
    background: #d9d9d9; }
  .CodeMirror .CodeMirror-gutters, .CodeMirror-standalone .CodeMirror-gutters {
    border-right: 1px solid #808080; }
    .CodeMirror .CodeMirror-gutters .CodeMirror-gutter, .CodeMirror-standalone .CodeMirror-gutters .CodeMirror-gutter {
      background: none; }
  .CodeMirror .CodeMirror-linenumber, .CodeMirror-standalone .CodeMirror-linenumber {
    color: none; }
  .CodeMirror .CodeMirror-cursor, .CodeMirror-standalone .CodeMirror-cursor {
    border-left: 1px solid black !important; }
  .CodeMirror span.cm-keyword, .CodeMirror-standalone span.cm-keyword {
    color: #360795; }
  .CodeMirror span.cm-atom, .CodeMirror-standalone span.cm-atom {
    color: #219; }
  .CodeMirror span.cm-number, .CodeMirror-standalone span.cm-number {
    color: #770088; }
  .CodeMirror span.cm-def, .CodeMirror-standalone span.cm-def {
    color: #00f; }
  .CodeMirror span.cm-variable, .CodeMirror-standalone span.cm-variable {
    color: #525252; }
  .CodeMirror span.cm-variable-2, .CodeMirror-standalone span.cm-variable-2 {
    color: #05a; }
  .CodeMirror span.cm-variable-3, .CodeMirror-standalone span.cm-variable-3 {
    color: #085; }
  .CodeMirror span.cm-property, .CodeMirror-standalone span.cm-property {
    color: black; }
  .CodeMirror span.cm-operator, .CodeMirror-standalone span.cm-operator {
    color: black; }
  .CodeMirror span.cm-comment, .CodeMirror-standalone span.cm-comment {
    color: #95720F; }
  .CodeMirror span.cm-string, .CodeMirror-standalone span.cm-string {
    color: #950728; }
  .CodeMirror span.cm-string-2, .CodeMirror-standalone span.cm-string-2 {
    color: #f50; }
  .CodeMirror span.cm-meta, .CodeMirror-standalone span.cm-meta {
    color: #555; }
  .CodeMirror span.cm-qualifier, .CodeMirror-standalone span.cm-qualifier {
    color: #555; }
  .CodeMirror span.cm-builtin, .CodeMirror-standalone span.cm-builtin {
    color: #BA00D4; }
  .CodeMirror span.cm-bracket, .CodeMirror-standalone span.cm-bracket {
    color: #997; }
  .CodeMirror span.cm-tag, .CodeMirror-standalone span.cm-tag {
    color: #170; }
  .CodeMirror span.cm-attribute, .CodeMirror-standalone span.cm-attribute {
    color: #00c; }
  .CodeMirror span.cm-header, .CodeMirror-standalone span.cm-header {
    color: blue; }
  .CodeMirror span.cm-quote, .CodeMirror-standalone span.cm-quote {
    color: #090; }
  .CodeMirror span.cm-hr, .CodeMirror-standalone span.cm-hr {
    color: #999; }
  .CodeMirror span.cm-link, .CodeMirror-standalone span.cm-link {
    color: #00c; }
  .CodeMirror span.cm-error, .CodeMirror-standalone span.cm-error {
    color: #f00; }

body, html {
  color: #000;
  background-color: #f8f8f8;
  height: 100%;
  margin: 0; }

#wdb {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%; }
  #wdb > header {
    height: 100px;
    display: flex;
    align-items: center; }
    #wdb > header #activity {
      width: 100px; }
    #wdb > header #title {
      flex: 1;
      margin: 0;
      font-family: "WeblySleek", sans-serif; }
  #wdb > article {
    flex: 1; }
    #wdb > article table, #wdb > article form, #wdb > article p {
      margin: 0 auto;
      width: 90%; }
    #wdb > article table {
      border-collapse: collapse;
      width: 90%;
      margin: 0 auto; }
      #wdb > article table tbody td.action, #wdb > article table tbody td.close {
        text-align: center; }
        #wdb > article table tbody td.action a, #wdb > article table tbody td.close a {
          text-decoration: none; }
          #wdb > article table tbody td.action a:hover:before, #wdb > article table tbody td.action a:focus:before, #wdb > article table tbody td.close a:hover:before, #wdb > article table tbody td.close a:focus:before {
            color: #a200bb; }
          #wdb > article table tbody td.action a:before, #wdb > article table tbody td.close a:before {
            color: #770088;
            font-size: 18px; }
      #wdb > article table a {
        color: #770088; }
    #wdb > article.split {
      display: flex; }
    #wdb > article #source {
      flex: 7;
      display: flex;
      flex-direction: column;
      margin-left: 5px; }
      #wdb > article #source #source-editor {
        flex: 1;
        position: relative; }
        #wdb > article #source #source-editor .CodeMirror {
          position: absolute;
          height: 100%;
          width: 100%; }
      #wdb > article #source #interpreter {
        flex: 1;
        overflow-y: auto; }
        #wdb > article #source #interpreter:focus {
          outline: none; }
    #wdb > article #traceback {
      flex: 3;
      overflow-y: auto; }
  #wdb #watchers {
    display: flex;
    flex-flow: row wrap; }
    #wdb #watchers > div {
      margin-left: 5px;
      margin-right: 2em;
      display: flex; }
      #wdb #watchers > div .name {
        color: #000;
        cursor: pointer; }
      #wdb #watchers > div .value {
        flex: 1; }

a {
  color: #000; }

abbr {
  font-weight: bold; }

table {
  font-family: "Source Code Pro" !important;
  width: 100%; }
  table thead.toggle {
    cursor: pointer; }
  table tr {
    color: #000; }
    table tr[data-tid] {
      color: #777; }
    table tr td {
      padding: 0.25em;
      border: 1px solid #dfdfdf; }

input {
  border: 1px solid #dfdfdf;
  background-color: #f8f8f8;
  color: #000;
  padding: 0.25em; }
  input[name=debug_file] {
    width: 500px; }
  input[type=submit] {
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em; }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #000;
  font-variant: small-caps;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  h1 small {
    color: #777;
    display: block;
    font-size: 0.5em;
    font-variant: normal;
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

code {
  font-family: "Source Code Pro" !important;
  display: block;
  white-space: pre-wrap;
  word-break: break-all; }

#source-editor:focus {
  outline: none; }
#source-editor > .CodeMirror {
  font-family: "Source Code Pro" !important;
  font-weight: bold;
  font-size: 15px;
  box-shadow: inset -8px 0 20px #ddd; }
  #source-editor > .CodeMirror.rw:after {
    position: absolute;
    top: 2em;
    right: -2em;
    content: 'Edit Mode';
    background: #e4e4e4;
    color: #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 0.2em 2em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  #source-editor > .CodeMirror .breakpoints {
    width: 0.6em;
    border: none; }

#eval {
  background-color: transparent;
  border: none;
  flex: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  vertical-align: top; }

#interpreter {
  font: 14px/15px "Source Code Pro", monospace; }

#scrollback .display {
  box-shadow: inset -8px 0 20px #ddd;
  background-color: white;
  border: 1px solid #e4e4e4;
  resize: both; }
#scrollback iframe.display {
  width: 100%;
  min-height: 300px; }

#prompt, .prompted {
  padding: 0.5em 0 0 0; }
  #prompt:before, .prompted:before {
    font: 14px/15px "Source Code Pro", monospace;
    color: grey;
    content: ">>> "; }

#prompt {
  display: flex; }
  #prompt textarea {
    color: grey;
    font: 14px/15px "Source Code Pro", monospace;
    margin-left: 0.5em;
    resize: none; }

#completions .base {
  color: #085540; }
#completions .completion {
  color: #888; }
#completions td {
  padding: 0.25em; }
  #completions td.active .base {
    color: green; }
  #completions td.active .completion {
    color: forestgreen; }
  #completions td.active.complete .base {
    color: blue; }

#comp-desc, #backsearch {
  color: #085540;
  font-style: italic; }

.trace {
  font: 14px/15px "Source Code Pro", monospace; }

.traceline {
  transition: border 750ms;
  margin: 0 0 1em 1em;
  font: 14px/15px "Source Code Pro", monospace;
  clear: both;
  overflow: hidden;
  width: 94%;
  margin-left: 6%;
  background-color: #eeefff; }
  .traceline:before {
    background-color: #eeefff;
    border-color: #eeefff #eeefff #f8f8f8 #f8f8f8; }
  .traceline .tracefunfun {
    background-color: #f8f8f8; }
    .traceline .tracefunfun .tracefun {
      background-color: #eeefff; }
      .traceline .tracefunfun .tracefun:before {
        border-color: #eeefff #eeefff #f8f8f8 #f8f8f8; }
  .traceline:nth-child(odd) {
    background-color: #f0f0f0; }
    .traceline:nth-child(odd):before {
      background-color: #f0f0f0;
      border-color: #f0f0f0 #f0f0f0 #f8f8f8 #f8f8f8; }
    .traceline:nth-child(odd) .tracefunfun {
      background-color: #f8f8f8; }
      .traceline:nth-child(odd) .tracefunfun .tracefun {
        background-color: #f0f0f0; }
        .traceline:nth-child(odd) .tracefunfun .tracefun:before {
          border-color: #f0f0f0 #f0f0f0 #f8f8f8 #f8f8f8; }
  .traceline:hover {
    background-color: #d5d7ff; }
    .traceline:hover:before {
      background-color: #d5d7ff;
      border-color: #d5d7ff #d5d7ff #f8f8f8 #f8f8f8; }
    .traceline:hover .tracefunfun {
      background-color: #f8f8f8; }
      .traceline:hover .tracefunfun .tracefun {
        background-color: #d5d7ff; }
        .traceline:hover .tracefunfun .tracefun:before {
          border-color: #d5d7ff #d5d7ff #f8f8f8 #f8f8f8; }
  .traceline.selected {
    width: 98%;
    margin-left: 2%;
    background-color: #bbc0ff;
    background-color: #bbc0ff; }
    .traceline.selected:before {
      background-color: #bbc0ff;
      border-color: #bbc0ff #bbc0ff #f8f8f8 #f8f8f8; }
    .traceline.selected .tracefunfun {
      background-color: #f8f8f8; }
      .traceline.selected .tracefunfun .tracefun {
        background-color: #bbc0ff; }
        .traceline.selected .tracefunfun .tracefun:before {
          border-color: #bbc0ff #bbc0ff #f8f8f8 #f8f8f8; }
  .traceline.real-selected {
    background-color: #d5d7ff;
    background-color: #d5d7ff; }
    .traceline.real-selected:before {
      background-color: #d5d7ff;
      border-color: #d5d7ff #d5d7ff #f8f8f8 #f8f8f8; }
    .traceline.real-selected .tracefunfun {
      background-color: #f8f8f8; }
      .traceline.real-selected .tracefunfun .tracefun {
        background-color: #d5d7ff; }
        .traceline.real-selected .tracefunfun .tracefun:before {
          border-color: #d5d7ff #d5d7ff #f8f8f8 #f8f8f8; }
  .traceline .tracecode {
    padding: 0.5em;
    padding-top: 0.25em;
    clear: both; }
    .traceline .tracecode > code {
      white-space: nowrap; }
  .traceline .tracefunfun {
    overflow: hidden; }
    .traceline .tracefunfun .tracefun {
      font-weight: bolder;
      font-size: 0.8em;
      text-align: right;
      float: right;
      line-height: 1.2;
      color: #770088;
      padding-right: 2%; }
      .traceline .tracefunfun .tracefun:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.7em;
        display: inline-block;
        vertical-align: top; }
  .traceline .tracefilelno {
    padding: 0.5em;
    padding-bottom: 0.25em;
    word-wrap: break-word; }
    .traceline .tracefilelno .tracefile {
      color: #555; }
    .traceline .tracefilelno .tracelno {
      color: #999; }
      .traceline .tracefilelno .tracelno:before {
        content: ': '; }

.prettyprint {
  border: none !important; }

.CodeMirror-linenumber {
  font-size: 14px; }

.CodeMirror-gutter-elt {
  text-align: center; }
  .CodeMirror-gutter-elt .breakpoint {
    position: relative;
    top: -2px; }

.CodeMirror-gutter.breaks {
  width: 0.6em; }

.CodeMirror-linebackground {
  transition: 1s; }
  .CodeMirror-linebackground:hover {
    transition: 1s;
    color: blue; }
  .CodeMirror-linebackground.ctx {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    color: rgba(0, 125, 50, 0.6);
    background-color: rgba(119, 0, 136, 0.05); }
    .CodeMirror-linebackground.ctx.ctx-top {
      border-top: 1px solid #e4e4e4; }
    .CodeMirror-linebackground.ctx.ctx-bottom {
      border-bottom: 1px solid #e4e4e4; }
    .CodeMirror-linebackground.ctx:before {
      color: rgba(0, 125, 50, 0.6);
      background-color: rgba(119, 0, 136, 0.05); }
  .CodeMirror-linebackground.footstep {
    color: black;
    background-color: rgba(0, 255, 0, 0.1) !important; }
  .CodeMirror-linebackground.breakpoint {
    color: red;
    background-color: rgba(255, 0, 0, 0.15) !important; }
  .CodeMirror-linebackground.highlighted {
    color: green;
    background-color: rgba(0, 255, 0, 0.25) !important; }
  .CodeMirror-linebackground.breakpoint.highlighted {
    background-color: rgba(153, 0, 0, 0.15) !important; }
  .CodeMirror-linebackground.ask-breakpoint {
    color: yellow; }

a.inspect {
  display: inline-block;
  text-decoration: none;
  background-color: #f3f3f3;
  border: 1px solid #e3e3e3; }
  a.inspect:hover {
    background-color: #e3e3e3;
    border: 1px solid lightgrey; }

.long {
  display: none; }

.short.close:after {
  content: '…"'; }

#comp-desc {
  text-align: left; }
  #comp-desc .fun_name {
    color: blue; }
  #comp-desc .fun_punct {
    color: black; }
  #comp-desc .fun_param {
    color: #050; }
    #comp-desc .fun_param.active {
      color: #0a0; }

.backsearched {
  text-decoration: underline; }

.out code, .out a {
  display: inline; }

.object {
  border: 1px solid #bbb;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em; }
  .object thead.toggle:hover {
    background-color: rgba(0, 125, 255, 0.12); }
  .object thead.toggle td {
    text-align: center; }
    .object thead.toggle td:after {
      content: '[-]';
      float: right; }
  .object thead.toggle.hidden td:after {
    content: '[+]'; }
  .object tbody td, .object thead td {
    border: 2px solid #d9d9d9;
    padding: 0.2em 0.5em;
    min-width: 100px; }
  .object tbody.hidden {
    display: none; }
  .object tbody tr > :first-child {
    vertical-align: top; }
  .object tbody table td {
    border: none; }
  .object .core {
    background-color: #dfdfdf; }
  .object .method {
    background-color: #e4e4e4; }
  .object .attr {
    background-color: #ebebeb; }
  .object .doc {
    background-color: #f0f0f0; }
  .object .source {
    background-color: #f5f5f5; }

.nogood {
  color: red !important; }
  .nogood > .pln, .nogood > .typ {
    color: red !important; }

.waiting_for_hl {
  opacity: 0.4; }

code, code span {
  transition: opacity 50ms; }

.trace_500 {
  margin: 0 1em 1em; }
  .trace_500 .flno {
    color: #777;
    font-size: 1.3em;
    float: left; }
  .trace_500 .fun {
    font-size: 1.2em;
    float: right; }
  .trace_500 code {
    font-size: 1.3em;
    padding: 0.5em;
    clear: left; }

#activate, #deactivate {
  display: block;
  width: 80px;
  margin: 0 10px;
  text-decoration: none;
  background-color: white; }
  #activate:before, #deactivate:before {
    display: block;
    width: 40px;
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-weight: bold; }

#activate:before {
  content: 'Off';
  background-color: red; }

#deactivate:before {
  content: 'On';
  margin-left: 40px;
  background-color: green; }

.CodeMirror-dialog {
  background-color: #dfdfdf;
  border-bottom-color: #f8f8f8;
  color: #000; }

.cm-searching {
  background: white; }

.state {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(119, 0, 136, 0.7);
  opacity: 0.9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 35px rgba(162, 0, 187, 0.7);
  position: absolute;
  top: 20px;
  left: 10px;
  width: 50px;
  height: 50px;
  -webkit-animation: spinPulse 1s infinite linear;
  animation: spinPulse 1s infinite linear;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }
  .state.inner {
    width: 30px;
    height: 30px;
    top: 30px;
    left: 20px;
    -webkit-animation: spinoffPulse 1s infinite linear;
    animation: spinoffPulse 1s infinite linear;
    -webkit-animation-play-state: paused;
    animation-play-state: paused; }
  .state.on {
    -webkit-animation-play-state: running;
    animation-play-state: running; }

@keyframes spinPulse {
  0% {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    opacity: 1; }

  50% {
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
    opacity: 0; }

  100% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px rgba(162, 0, 187, 0.7); } }

@keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    opacity: 1; }

  50% {
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
    opacity: 0; }

  100% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px rgba(162, 0, 187, 0.7); } }

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@font-face {
  font-family: "WeblySleek";
  src: url("../fonts/weblysleekuil.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "WeblySleek";
  src: url("../fonts/weblysleekuili.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "WeblySleek";
  src: url("../fonts/weblysleekuisl.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "WeblySleek";
  src: url("../fonts/weblysleekuisli.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "WeblySleek";
  src: url("../fonts/weblysleekuisb.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "WeblySleek";
  src: url("../fonts/weblysleekuisbi.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

\::-webkit-scrollbar {
  background: #f8f8f8;
  border: 1px solid #e4e4e4;
  width: 0.75em;
  height: 0.75em; }

\::-webkit-scrollbar-thumb {
  background: rgba(119, 0, 136, 0.05);
  border: 1px solid #e4e4e4; }

#wdb {
  border-top: 2px solid #770088; }
  #wdb > header {
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), -10px 0 10px -10px rgba(0, 0, 0, 0.5), 10px 0 10px -10px rgba(0, 0, 0, 0.5);
    margin: 0 5%;
    padding: 10px 20px 0;
    position: relative; }
    #wdb > header:before {
      background-color: #770088;
      content: '';
      display: block;
      height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
    #wdb > header #activity {
      position: relative;
      display: block; }
      #wdb > header #activity .state {
        left: 20px;
        top: -30px; }
      #wdb > header #activity .state.inner {
        left: 30px;
        top: -20px; }
    #wdb > header h1 {
      color: #770088; }
      #wdb > header h1 small {
        font-weight: normal; }
    #wdb > header #switch a {
      border: 1px solid #ebebeb;
      background-color: #f8f8f8;
      box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9) inset, 1px 1px 0 rgba(255, 255, 255, 0.9);
      border-radius: 4px;
      overflow: hidden; }
      #wdb > header #switch a#deactivate:before {
        border-radius: 4px;
        background-color: #770088;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  #wdb article {
    margin: 0 5%; }
    #wdb article section {
      border: 1px solid #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
      margin: 25px 0;
      padding: 10px 15px;
      position: relative;
      background-color: #f3f3f3; }
      #wdb article section h2 {
        border-bottom: 5px solid #770088;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: #5a5a5a;
        display: inline-block;
        font-family: "Weblysleek", sans-serif; }
        #wdb article section h2:after {
          background-color: #770088;
          content: '';
          display: block;
          height: 1px;
          margin-top: 5px;
          position: absolute;
          width: 97%; }
      #wdb article section input[type="submit"] {
        background: linear-gradient(#770088, #4a0055);
        border-color: #4a0055;
        border-radius: 3px;
        color: #fff;
        font-weight: normal; }

.traceline {
  background-color: white; }
  .traceline:before {
    background-color: white;
    border-color: white white #f8f8f8 #f8f8f8; }
  .traceline .tracefunfun {
    background-color: #f8f8f8; }
    .traceline .tracefunfun .tracefun {
      background-color: white; }
      .traceline .tracefunfun .tracefun:before {
        border-color: white white #f8f8f8 #f8f8f8; }
  .traceline:nth-child(odd) {
    background-color: #f0f0f0; }
    .traceline:nth-child(odd):before {
      background-color: #f0f0f0;
      border-color: #f0f0f0 #f0f0f0 #f8f8f8 #f8f8f8; }
    .traceline:nth-child(odd) .tracefunfun {
      background-color: #f8f8f8; }
      .traceline:nth-child(odd) .tracefunfun .tracefun {
        background-color: #f0f0f0; }
        .traceline:nth-child(odd) .tracefunfun .tracefun:before {
          border-color: #f0f0f0 #f0f0f0 #f8f8f8 #f8f8f8; }
  .traceline:hover {
    background-color: #f4eef5; }
    .traceline:hover:before {
      background-color: #f4eef5;
      border-color: #f4eef5 #f4eef5 #f8f8f8 #f8f8f8; }
    .traceline:hover .tracefunfun {
      background-color: #f8f8f8; }
      .traceline:hover .tracefunfun .tracefun {
        background-color: #f4eef5; }
        .traceline:hover .tracefunfun .tracefun:before {
          border-color: #f4eef5 #f4eef5 #f8f8f8 #f8f8f8; }
  .traceline.selected {
    background-color: #e0cee1; }
    .traceline.selected:before {
      background-color: #e0cee1;
      border-color: #e0cee1 #e0cee1 #f8f8f8 #f8f8f8; }
    .traceline.selected .tracefunfun {
      background-color: #f8f8f8; }
      .traceline.selected .tracefunfun .tracefun {
        background-color: #e0cee1; }
        .traceline.selected .tracefunfun .tracefun:before {
          border-color: #e0cee1 #e0cee1 #f8f8f8 #f8f8f8; }
  .traceline.real-selected {
    background-color: #eadeeb; }
    .traceline.real-selected:before {
      background-color: #eadeeb;
      border-color: #eadeeb #eadeeb #f8f8f8 #f8f8f8; }
    .traceline.real-selected .tracefunfun {
      background-color: #f8f8f8; }
      .traceline.real-selected .tracefunfun .tracefun {
        background-color: #eadeeb; }
        .traceline.real-selected .tracefunfun .tracefun:before {
          border-color: #eadeeb #eadeeb #f8f8f8 #f8f8f8; }

.CodeMirror-code .CodeMirror-gutter-elt.breakpoint {
  color: #770088;
  font-size: 0.8em;
  margin-top: 2px; }
.CodeMirror-code .CodeMirror-gutter-elt.highlighted {
  color: #770088; }

.CodeMirror-linebackground.breakpoint {
  background-color: #ee5f80; }
.CodeMirror-linebackground.highlighted {
  background-color: #a9dac4 !important; }

.CodeMirror span.cm-def {
  color: #089970; }

#completions .base {
  font-weight: bold; }

table.object tbody td, table.object thead td {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border-width: 1px; }
table.object thead {
  text-shadow: none !important; }
table.object a.inspect {
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.05) inset;
  padding: 0.1em 5px;
  margin: 1px 0; }
table.object .attr a.inspect {
  background-color: #f8f8f8;
  border-color: #c5c5c5; }
  table.object .attr a.inspect:hover, table.object .attr a.inspect:focus {
    background-color: #ebebeb; }
table.object .method a.inspect {
  background-color: #f0f0f0;
  border-color: #cacaca; }
  table.object .method a.inspect:hover, table.object .method a.inspect:focus {
    background-color: #e4e4e4; }
table.object .core a.inspect {
  background-color: #ebebeb;
  border-color: #d2d2d2; }
  table.object .core a.inspect:hover, table.object .core a.inspect:focus {
    background-color: #dfdfdf; }

footer {
  background-color: #ebebeb;
  border-top: 1px solid #ebebeb;
  box-shadow: 0 1px 0 #fff inset; }
  footer #watchers {
    margin: 0 5%;
    padding: 0.5em 0; }
    footer #watchers > div code.name {
      color: #770088; }
