@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Regular.ttf.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Semibold.ttf.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Bold.ttf.woff") format("woff");
  font-weight: 900; }

.CodeMirror-focused .CodeMirror-selected {
  background: #1b1d1e; }

.CodeMirror, .CodeMirror-standalone {
  background: none;
  color: #01b7e5; }
  .CodeMirror .CodeMirror-selected, .CodeMirror-standalone .CodeMirror-selected {
    background: #1f2224; }
  .CodeMirror .CodeMirror-gutters, .CodeMirror-standalone .CodeMirror-gutters {
    border-right: 1px solid #303030; }
    .CodeMirror .CodeMirror-gutters .CodeMirror-gutter, .CodeMirror-standalone .CodeMirror-gutters .CodeMirror-gutter {
      background: #1d1f20; }
  .CodeMirror .CodeMirror-linenumber, .CodeMirror-standalone .CodeMirror-linenumber {
    color: #4a4a4a; }
  .CodeMirror .CodeMirror-cursor, .CodeMirror-standalone .CodeMirror-cursor {
    border-left: 1px solid white !important; }
  .CodeMirror span.cm-keyword, .CodeMirror-standalone span.cm-keyword {
    color: #e91861; }
  .CodeMirror span.cm-atom, .CodeMirror-standalone span.cm-atom {
    color: #845dc4; }
  .CodeMirror span.cm-number, .CodeMirror-standalone span.cm-number {
    color: #E56F01; }
  .CodeMirror span.cm-def, .CodeMirror-standalone span.cm-def {
    color: #efc371; }
  .CodeMirror span.cm-variable, .CodeMirror-standalone span.cm-variable {
    color: #c3c6c4; }
  .CodeMirror span.cm-variable-2, .CodeMirror-standalone span.cm-variable-2 {
    color: #b1b4b2; }
  .CodeMirror span.cm-variable-3, .CodeMirror-standalone span.cm-variable-3 {
    color: #9fa3a0; }
  .CodeMirror span.cm-property, .CodeMirror-standalone span.cm-property {
    color: #c5c8c6; }
  .CodeMirror span.cm-operator, .CodeMirror-standalone span.cm-operator {
    color: #80a1bc; }
  .CodeMirror span.cm-comment, .CodeMirror-standalone span.cm-comment {
    color: #c5c8c6; }
  .CodeMirror span.cm-string, .CodeMirror-standalone span.cm-string {
    color: #e56f01; }
  .CodeMirror span.cm-string-2, .CodeMirror-standalone span.cm-string-2 {
    color: #e56f01; }
  .CodeMirror span.cm-meta, .CodeMirror-standalone span.cm-meta {
    color: #89bdb5; }
  .CodeMirror span.cm-qualifier, .CodeMirror-standalone span.cm-qualifier {
    color: #89bdb5; }
  .CodeMirror span.cm-builtin, .CodeMirror-standalone span.cm-builtin {
    color: #80a1bc; }
  .CodeMirror span.cm-bracket, .CodeMirror-standalone span.cm-bracket {
    color: #80a1bc; }
  .CodeMirror span.cm-tag, .CodeMirror-standalone span.cm-tag {
    color: #c5c8c6; }
  .CodeMirror span.cm-attribute, .CodeMirror-standalone span.cm-attribute {
    color: #cc6666; }
  .CodeMirror span.cm-header, .CodeMirror-standalone span.cm-header {
    color: #cc6666; }
  .CodeMirror span.cm-quote, .CodeMirror-standalone span.cm-quote {
    color: #cc6666; }
  .CodeMirror span.cm-hr, .CodeMirror-standalone span.cm-hr {
    color: #cc6666; }
  .CodeMirror span.cm-link, .CodeMirror-standalone span.cm-link {
    color: #80a1bc; }
  .CodeMirror span.cm-error, .CodeMirror-standalone span.cm-error {
    color: #808080; }

body, html {
  color: #ccc;
  background-color: #292c2f;
  height: 100%;
  margin: 0; }

#wdb {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%; }
  #wdb > header {
    height: 100px;
    display: flex;
    align-items: center; }
    #wdb > header #activity {
      width: 100px; }
    #wdb > header #title {
      flex: 1;
      margin: 0;
      font-family: "neuropol-x"; }
  #wdb > article {
    flex: 1; }
    #wdb > article table, #wdb > article form, #wdb > article p {
      margin: 0 auto;
      width: 90%; }
    #wdb > article table {
      border-collapse: collapse;
      width: 90%;
      margin: 0 auto; }
      #wdb > article table tbody td.action, #wdb > article table tbody td.close {
        text-align: center; }
        #wdb > article table tbody td.action a, #wdb > article table tbody td.close a {
          text-decoration: none; }
          #wdb > article table tbody td.action a:hover:before, #wdb > article table tbody td.action a:focus:before, #wdb > article table tbody td.close a:hover:before, #wdb > article table tbody td.close a:focus:before {
            color: #1bd1fe; }
          #wdb > article table tbody td.action a:before, #wdb > article table tbody td.close a:before {
            color: #01b7e5;
            font-size: 18px; }
      #wdb > article table a {
        color: #01b7e5; }
    #wdb > article.split {
      display: flex; }
    #wdb > article #source {
      flex: 7;
      display: flex;
      flex-direction: column;
      margin-left: 5px; }
      #wdb > article #source #source-editor {
        flex: 1;
        position: relative; }
        #wdb > article #source #source-editor .CodeMirror {
          position: absolute;
          height: 100%;
          width: 100%; }
      #wdb > article #source #interpreter {
        flex: 1;
        overflow-y: auto; }
        #wdb > article #source #interpreter:focus {
          outline: none; }
    #wdb > article #traceback {
      flex: 3;
      overflow-y: auto; }
  #wdb #watchers {
    display: flex;
    flex-flow: row wrap; }
    #wdb #watchers > div {
      margin-left: 5px;
      margin-right: 2em;
      display: flex; }
      #wdb #watchers > div .name {
        color: #ccc;
        cursor: pointer; }
      #wdb #watchers > div .value {
        flex: 1; }

a {
  color: #ccc; }

abbr {
  font-weight: bold; }

table {
  font-family: "Source Code Pro" !important;
  width: 100%; }
  table thead.toggle {
    cursor: pointer; }
  table tr {
    color: #ccc; }
    table tr[data-tid] {
      color: #777; }
    table tr td {
      padding: 0.25em;
      border: 1px solid #111213; }

input {
  border: 1px solid #111213;
  background-color: #292c2f;
  color: #ccc;
  padding: 0.25em; }
  input[name=debug_file] {
    width: 500px; }
  input[type=submit] {
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em; }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ccc;
  font-variant: small-caps;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  h1 small {
    color: #777;
    display: block;
    font-size: 0.5em;
    font-variant: normal;
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

code {
  font-family: "Source Code Pro" !important;
  display: block;
  white-space: pre-wrap;
  word-break: break-all; }

#source-editor:focus {
  outline: none; }
#source-editor > .CodeMirror {
  font-family: "Source Code Pro" !important;
  font-weight: bold;
  font-size: 15px;
  box-shadow: inset -8px 0 20px black; }
  #source-editor > .CodeMirror.rw:after {
    position: absolute;
    top: 2em;
    right: -2em;
    content: 'Edit Mode';
    background: black;
    color: #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 0.2em 2em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  #source-editor > .CodeMirror .breakpoints {
    width: 0.6em;
    border: none; }

#eval {
  background-color: transparent;
  border: none;
  flex: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  vertical-align: top; }

#interpreter {
  font: 12px/1.5 "Source Code Pro", monospace; }

#scrollback .display {
  box-shadow: inset -8px 0 20px black;
  background-color: white;
  border: 1px solid black;
  resize: both; }
#scrollback iframe.display {
  width: 100%;
  min-height: 300px; }

#prompt, .prompted {
  padding: 0.5em 0 0 0; }
  #prompt:before, .prompted:before {
    font: 12px/1.5 "Source Code Pro", monospace;
    color: #01b7e5;
    content: ">>> "; }

#prompt {
  display: flex; }
  #prompt textarea {
    color: #01b7e5;
    font: 12px/1.5 "Source Code Pro", monospace;
    margin-left: 0.5em;
    resize: none; }

#completions .base {
  color: #ccc; }
#completions .completion {
  color: #777; }
#completions td {
  padding: 0.25em; }
  #completions td.active .base {
    color: red; }
  #completions td.active .completion {
    color: orangered; }
  #completions td.active.complete .base {
    color: #c66; }

#comp-desc, #backsearch {
  color: #a8a8a8;
  font-style: italic; }

.trace {
  font: 12px/1.5 "Source Code Pro", monospace; }

.traceline {
  transition: border 750ms;
  margin: 0 0 1em 1em;
  font: 12px/1.5 "Source Code Pro", monospace;
  clear: both;
  overflow: hidden;
  width: 94%;
  margin-left: 6%;
  background-color: #1d1f21; }
  .traceline:before {
    background-color: #1d1f21;
    border-color: #1d1f21 #1d1f21 #292c2f #292c2f; }
  .traceline .tracefunfun {
    background-color: #292c2f; }
    .traceline .tracefunfun .tracefun {
      background-color: #1d1f21; }
      .traceline .tracefunfun .tracefun:before {
        border-color: #1d1f21 #1d1f21 #292c2f #292c2f; }
  .traceline:nth-child(odd) {
    background-color: #1d1f21; }
    .traceline:nth-child(odd):before {
      background-color: #1d1f21;
      border-color: #1d1f21 #1d1f21 #292c2f #292c2f; }
    .traceline:nth-child(odd) .tracefunfun {
      background-color: #292c2f; }
      .traceline:nth-child(odd) .tracefunfun .tracefun {
        background-color: #1d1f21; }
        .traceline:nth-child(odd) .tracefunfun .tracefun:before {
          border-color: #1d1f21 #1d1f21 #292c2f #292c2f; }
  .traceline:hover {
    background-color: #111213; }
    .traceline:hover:before {
      background-color: #111213;
      border-color: #111213 #111213 #292c2f #292c2f; }
    .traceline:hover .tracefunfun {
      background-color: #292c2f; }
      .traceline:hover .tracefunfun .tracefun {
        background-color: #111213; }
        .traceline:hover .tracefunfun .tracefun:before {
          border-color: #111213 #111213 #292c2f #292c2f; }
  .traceline.selected {
    width: 98%;
    margin-left: 2%;
    background-color: #050606;
    background-color: #050606; }
    .traceline.selected:before {
      background-color: #050606;
      border-color: #050606 #050606 #292c2f #292c2f; }
    .traceline.selected .tracefunfun {
      background-color: #292c2f; }
      .traceline.selected .tracefunfun .tracefun {
        background-color: #050606; }
        .traceline.selected .tracefunfun .tracefun:before {
          border-color: #050606 #050606 #292c2f #292c2f; }
  .traceline.real-selected {
    background-color: #111213;
    background-color: #111213; }
    .traceline.real-selected:before {
      background-color: #111213;
      border-color: #111213 #111213 #292c2f #292c2f; }
    .traceline.real-selected .tracefunfun {
      background-color: #292c2f; }
      .traceline.real-selected .tracefunfun .tracefun {
        background-color: #111213; }
        .traceline.real-selected .tracefunfun .tracefun:before {
          border-color: #111213 #111213 #292c2f #292c2f; }
  .traceline .tracecode {
    padding: 0.5em;
    padding-top: 0.25em;
    clear: both; }
    .traceline .tracecode > code {
      white-space: nowrap; }
  .traceline .tracefunfun {
    overflow: hidden; }
    .traceline .tracefunfun .tracefun {
      font-weight: bolder;
      font-size: 0.8em;
      text-align: right;
      float: right;
      line-height: 1.2;
      color: #01b7e5;
      padding-right: 2%; }
      .traceline .tracefunfun .tracefun:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.7em;
        display: inline-block;
        vertical-align: top; }
  .traceline .tracefilelno {
    padding: 0.5em;
    padding-bottom: 0.25em;
    word-wrap: break-word; }
    .traceline .tracefilelno .tracefile {
      color: #555; }
    .traceline .tracefilelno .tracelno {
      color: #999; }
      .traceline .tracefilelno .tracelno:before {
        content: ': '; }

.prettyprint {
  border: none !important; }

.CodeMirror-linenumber {
  font-size: 14px; }

.CodeMirror-gutter-elt {
  text-align: center; }
  .CodeMirror-gutter-elt .breakpoint {
    position: relative;
    top: -2px; }

.CodeMirror-gutter.breaks {
  width: 0.6em; }

.CodeMirror-linebackground {
  transition: 1s; }
  .CodeMirror-linebackground:hover {
    transition: 1s;
    color: #8cedff; }
  .CodeMirror-linebackground.ctx {
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4); }
    .CodeMirror-linebackground.ctx.ctx-top {
      border-top: 1px solid black; }
    .CodeMirror-linebackground.ctx.ctx-bottom {
      border-bottom: 1px solid black; }
    .CodeMirror-linebackground.ctx:before {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4); }
  .CodeMirror-linebackground.footstep {
    color: black;
    background-color: rgba(0, 0, 0, 0.6) !important; }
  .CodeMirror-linebackground.breakpoint {
    color: #ff5995;
    background-color: rgba(1, 183, 229, 0.1) !important; }
  .CodeMirror-linebackground.highlighted {
    color: #b6e354;
    background-color: rgba(0, 0, 0, 0.8) !important; }
  .CodeMirror-linebackground.breakpoint.highlighted {
    background-color: rgba(0, 102, 127, 0.1) !important; }
  .CodeMirror-linebackground.ask-breakpoint {
    color: yellow; }

a.inspect {
  display: inline-block;
  text-decoration: none;
  background-color: #181818;
  border: 1px solid #111; }
  a.inspect:hover {
    background-color: #111;
    border: 1px solid black; }

.long {
  display: none; }

.short.close:after {
  content: '…"'; }

#comp-desc {
  text-align: left; }
  #comp-desc .fun_name {
    color: #fff; }
  #comp-desc .fun_punct {
    color: #fff; }
  #comp-desc .fun_param {
    color: #969896; }
    #comp-desc .fun_param.active {
      color: #01b7e5; }

.backsearched {
  text-decoration: underline; }

.out code, .out a {
  display: inline; }

.object {
  border: 1px solid #191919;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em; }
  .object thead.toggle:hover {
    background-color: #111; }
  .object thead.toggle td {
    text-align: center; }
    .object thead.toggle td:after {
      content: '[-]';
      float: right; }
  .object thead.toggle.hidden td:after {
    content: '[+]'; }
  .object tbody td, .object thead td {
    border: 2px solid #111;
    padding: 0.2em 0.5em;
    min-width: 100px; }
  .object tbody.hidden {
    display: none; }
  .object tbody tr > :first-child {
    vertical-align: top; }
  .object tbody table td {
    border: none; }
  .object .core {
    background-color: #0e0e0e; }
  .object .method {
    background-color: #141414; }
  .object .attr {
    background-color: #181818; }
  .object .doc {
    background-color: #1c1c1c; }
  .object .source {
    background-color: #202020; }

.nogood {
  color: red !important; }
  .nogood > .pln, .nogood > .typ {
    color: red !important; }

.waiting_for_hl {
  opacity: 0.4; }

code, code span {
  transition: opacity 50ms; }

.trace_500 {
  margin: 0 1em 1em; }
  .trace_500 .flno {
    color: #777;
    font-size: 1.3em;
    float: left; }
  .trace_500 .fun {
    font-size: 1.2em;
    float: right; }
  .trace_500 code {
    font-size: 1.3em;
    padding: 0.5em;
    clear: left; }

#activate, #deactivate {
  display: block;
  width: 80px;
  margin: 0 10px;
  text-decoration: none;
  background-color: #35393c; }
  #activate:before, #deactivate:before {
    display: block;
    width: 40px;
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-weight: bold; }

#activate:before {
  content: 'Off';
  background-color: red; }

#deactivate:before {
  content: 'On';
  margin-left: 40px;
  background-color: green; }

.CodeMirror-dialog {
  background-color: #111213;
  border-bottom-color: #292c2f;
  color: #ccc; }

.cm-searching {
  background: #41454a; }

.state {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: 0.9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 35px #2187e7;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 50px;
  height: 50px;
  -webkit-animation: spinPulse 1s infinite linear;
  animation: spinPulse 1s infinite linear;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }
  .state.inner {
    width: 30px;
    height: 30px;
    top: 30px;
    left: 20px;
    -webkit-animation: spinoffPulse 1s infinite linear;
    animation: spinoffPulse 1s infinite linear;
    -webkit-animation-play-state: paused;
    animation-play-state: paused; }
  .state.on {
    -webkit-animation-play-state: running;
    animation-play-state: running; }

@keyframes spinPulse {
  0% {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    opacity: 1; }

  50% {
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
    opacity: 0; }

  100% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7; } }

@keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    opacity: 1; }

  50% {
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
    opacity: 0; }

  100% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7; } }

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@font-face {
  font-family: "neuropol-x";
  src: url("../fonts/neuropol-x.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

\::-webkit-scrollbar {
  background: #292c2f;
  border: 1px solid black;
  width: 0.75em;
  height: 0.75em; }

\::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid black; }

#wdb {
  border-top: 4px solid #01b7e5;
  padding-top: 4px; }
  #wdb > header {
    background: url(../img/bg-left.png) no-repeat top left, url(../img/bg-right.png) no-repeat top right;
    border-top: 1px solid #01b7e5;
    height: 150px;
    padding-left: 60px;
    position: relative;
    z-index: 5; }
    #wdb > header:after {
      background: #01b7e5;
      height: 25px;
      width: 100%;
      display: block;
      position: absolute;
      content: '';
      left: 0;
      top: 130px;
      z-index: 1;
      box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5) inset, 0 -8px 8px -8px rgba(0, 0, 0, 0.5) inset; }
    #wdb > header h1#title {
      box-shadow: -5px 0 5px -5px #000;
      font-variant: normal;
      font-weight: normal;
      margin-top: -20px;
      padding-left: 10px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
      #wdb > header h1#title:first-letter {
        font-size: 1.5em;
        color: #01b7e5; }
      #wdb > header h1#title small {
        color: black;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.5);
        padding-top: 0.3em;
        padding-bottom: 0.3em; }
    #wdb > header #activity {
      height: 100px;
      margin-top: -20px;
      width: 90px; }
      #wdb > header #activity .state {
        margin: 15px 10px 0 50px; }
      #wdb > header #activity .inner-state {
        margin: 5px 0 0 50px; }
    #wdb > header #deactivate, #wdb > header #activate {
      border: 1px solid #292c2f;
      border-radius: 5px;
      box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2), 1px 2px 2px rgba(0, 0, 0, 0.3) inset; }
      #wdb > header #deactivate:before, #wdb > header #activate:before {
        border-radius: 3px;
        font-family: "neuropol-x";
        font-size: 0.8em;
        font-variant: normal;
        padding: 0.2em 0; }
    #wdb > header #deactivate:before {
      background-color: #01b7e5; }
  #wdb article {
    margin-top: 2em; }
    #wdb article h2 {
      border-bottom: 1px solid #181a1c;
      box-shadow: 0 1px 0 #3a3e42;
      color: #595f65;
      font-family: "neuropol-x";
      font-weight: normal;
      margin-left: 3%;
      margin-right: 3%;
      margin-top: 25px;
      min-height: 30px;
      position: relative;
      text-shadow: -1px -1px 0 #000; }
      #wdb article h2:before {
        background-color: #292c2f;
        border-bottom: 3px solid #292c2f;
        border-left: 3px solid #01b7e5;
        border-right: 3px solid #01b7e5;
        border-top: 3px solid #292c2f;
        border-radius: 100%;
        box-shadow: 0 0 3px rgba(255, 255, 255, 0.3) inset;
        content: '';
        display: block;
        float: left;
        float: left;
        height: 25px;
        margin-right: 10px;
        position: relative;
        width: 25px; }
      #wdb article h2:after {
        background: linear-gradient(#01b7e5 #0197bc);
        border: 1px solid #018fb2;
        border-radius: 100%;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5) inset;
        content: '';
        display: block;
        height: 8px;
        left: 10px;
        position: absolute;
        top: 10px;
        width: 8px; }
    #wdb article h3 {
      color: #01b7e5;
      margin-left: 4%;
      text-shadow: -1px -1px 0 #000; }
    #wdb article table tbody {
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05); }
    #wdb article table a:hover, #wdb article table a:focus {
      color: #1bd1fe;
      text-decoration: none; }
    #wdb article table thead tr {
      color: #018fb2;
      font-size: 1.1em;
      text-shadow: -1px -1px 0 #000; }
    #wdb article table tbody tr td {
      border: 1px solid #111213;
      box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.05) inset, 1px 1px 0 rgba(255, 255, 255, 0.05); }
      #wdb article table tbody tr td .base {
        color: #ED5F92;
        font-weight: bold; }
      #wdb article table tbody tr td.active .base {
        color: #E91861; }
      #wdb article table tbody tr td.active .completion {
        color: #f275a1; }
      #wdb article table tbody tr td.active.complete .base {
        color: #E91861; }
      #wdb article table tbody tr td.action a, #wdb article table tbody tr td.close a {
        text-shadow: -1px -1px 0 #000; }
        #wdb article table tbody tr td.action a:hover:before, #wdb article table tbody tr td.action a:focus:before, #wdb article table tbody tr td.close a:hover:before, #wdb article table tbody tr td.close a:focus:before {
          color: #67e0fe; }
    #wdb article #source-editor .CodeMirror-scroll {
      border-bottom: 1px solid #292c2f;
      border-left: none; }
    #wdb article input[type="text"] {
      border: 1px solid #0a0b0b;
      box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset, 1px 1px 0 rgba(255, 255, 255, 0.1); }
    #wdb article input.open-self, #wdb article input[type="submit"] {
      background: linear-gradient(#01b7e5, #018fb2);
      border-color: #018fb2;
      border-radius: 3px;
      color: #005266;
      text-shadow: 1px 1px 0 #01b7e5;
      font-weight: normal; }
      #wdb article input.open-self:hover, #wdb article input.open-self:focus, #wdb article input[type="submit"]:hover, #wdb article input[type="submit"]:focus {
        background: linear-gradient(#1bd1fe, #01b7e5);
        text-shadow: 1px 1px 0 #1bd1fe; }
  #wdb footer #watchers {
    background: #111213;
    border-top: 1px solid black;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    padding: 0.1em 0; }
    #wdb footer #watchers > div .name {
      color: #0197bc;
      font-weight: bold; }
      #wdb footer #watchers > div .name:hover, #wdb footer #watchers > div .name:focus {
        color: #01b7e5; }

.out {
  margin-left: 2.4em; }

.trace_500 {
  flex: 1; }

.CodeMirror-code pre {
  border-right: none;
  padding: 0; }

table.object tbody td, table.object thead td {
  border-width: 1px; }
table.object thead {
  text-shadow: none !important; }
table.object a.inspect {
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.05) inset;
  padding: 0.1em 5px;
  margin: 1px 0; }
table.object .attr a.inspect {
  background-color: #0b0b0b;
  border-color: black; }
  table.object .attr a.inspect:hover, table.object .attr a.inspect:focus {
    background-color: #181818; }
table.object .method a.inspect {
  background-color: #070707;
  border-color: black; }
  table.object .method a.inspect:hover, table.object .method a.inspect:focus {
    background-color: #141414; }
table.object .core a.inspect {
  background-color: #010101;
  border-color: black; }
  table.object .core a.inspect:hover, table.object .core a.inspect:focus {
    background-color: #0e0e0e; }

.traceline {
  background-color: #161719;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
  border-top: 1px solid #1d1f21; }
  .traceline .tracefunfun .tracefun {
    background-color: #161719; }
    .traceline .tracefunfun .tracefun:before {
      border-color: #161719 #161719 #292c2f #292c2f; }
  .traceline .tracefilelno, .traceline .tracecode {
    border-left: 1px solid #1d1f21;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.05) inset; }

a.inspect {
  padding: 0.1em 5px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.05) inset; }
