@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Regular.ttf.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Semibold.ttf.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Bold.ttf.woff") format("woff");
  font-weight: 900; }

.CodeMirror-focused .CodeMirror-selected {
  background: #383c42; }

.CodeMirror, .CodeMirror-standalone {
  background: none;
  color: #c3c6c4; }
  .CodeMirror .CodeMirror-selected, .CodeMirror-standalone .CodeMirror-selected {
    background: #3b3d40; }
  .CodeMirror .CodeMirror-gutters, .CodeMirror-standalone .CodeMirror-gutters {
    border-right: 1px solid #303030; }
    .CodeMirror .CodeMirror-gutters .CodeMirror-gutter, .CodeMirror-standalone .CodeMirror-gutters .CodeMirror-gutter {
      background: #1d1f20; }
  .CodeMirror .CodeMirror-linenumber, .CodeMirror-standalone .CodeMirror-linenumber {
    color: #4a4a4a; }
  .CodeMirror .CodeMirror-cursor, .CodeMirror-standalone .CodeMirror-cursor {
    border-left: 1px solid white !important; }
  .CodeMirror span.cm-keyword, .CodeMirror-standalone span.cm-keyword {
    color: #b092b9; }
  .CodeMirror span.cm-atom, .CodeMirror-standalone span.cm-atom {
    color: #845dc4; }
  .CodeMirror span.cm-number, .CodeMirror-standalone span.cm-number {
    color: #dd925f; }
  .CodeMirror span.cm-def, .CodeMirror-standalone span.cm-def {
    color: #efc371; }
  .CodeMirror span.cm-variable, .CodeMirror-standalone span.cm-variable {
    color: #c3c6c4; }
  .CodeMirror span.cm-variable-2, .CodeMirror-standalone span.cm-variable-2 {
    color: #efc371; }
  .CodeMirror span.cm-variable-3, .CodeMirror-standalone span.cm-variable-3 {
    color: #efc371; }
  .CodeMirror span.cm-property, .CodeMirror-standalone span.cm-property {
    color: #efc371; }
  .CodeMirror span.cm-operator, .CodeMirror-standalone span.cm-operator {
    color: #7c7c7c; }
  .CodeMirror span.cm-comment, .CodeMirror-standalone span.cm-comment {
    color: #969696; }
  .CodeMirror span.cm-string, .CodeMirror-standalone span.cm-string {
    color: #b5bc67; }
  .CodeMirror span.cm-string-2, .CodeMirror-standalone span.cm-string-2 {
    color: #b5bc67; }
  .CodeMirror span.cm-meta, .CodeMirror-standalone span.cm-meta {
    color: #89bdb5; }
  .CodeMirror span.cm-qualifier, .CodeMirror-standalone span.cm-qualifier {
    color: #b5bc67; }
  .CodeMirror span.cm-builtin, .CodeMirror-standalone span.cm-builtin {
    color: #80a1bc; }
  .CodeMirror span.cm-bracket, .CodeMirror-standalone span.cm-bracket {
    color: #808080; }
  .CodeMirror span.cm-tag, .CodeMirror-standalone span.cm-tag {
    color: #efc371; }
  .CodeMirror span.cm-attribute, .CodeMirror-standalone span.cm-attribute {
    color: #dd925f; }
  .CodeMirror span.cm-header, .CodeMirror-standalone span.cm-header {
    color: #969696; }
  .CodeMirror span.cm-quote, .CodeMirror-standalone span.cm-quote {
    color: #969696; }
  .CodeMirror span.cm-hr, .CodeMirror-standalone span.cm-hr {
    color: #80a1bc; }
  .CodeMirror span.cm-link, .CodeMirror-standalone span.cm-link {
    color: #80a1bc; }
  .CodeMirror span.cm-error, .CodeMirror-standalone span.cm-error {
    color: #cc6666; }

body, html {
  color: #ccc;
  background-color: #1d1f21;
  height: 100%;
  margin: 0; }

#wdb {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%; }
  #wdb > header {
    height: 100px;
    display: flex;
    align-items: center; }
    #wdb > header #activity {
      width: 100px; }
    #wdb > header #title {
      flex: 1;
      margin: 0;
      font-family: inherit; }
  #wdb > article {
    flex: 1; }
    #wdb > article table, #wdb > article form, #wdb > article p {
      margin: 0 auto;
      width: 90%; }
    #wdb > article table {
      border-collapse: collapse;
      width: 90%;
      margin: 0 auto; }
      #wdb > article table tbody td.action, #wdb > article table tbody td.close {
        text-align: center; }
        #wdb > article table tbody td.action a, #wdb > article table tbody td.close a {
          text-decoration: none; }
          #wdb > article table tbody td.action a:hover:before, #wdb > article table tbody td.action a:focus:before, #wdb > article table tbody td.close a:hover:before, #wdb > article table tbody td.close a:focus:before {
            color: #bbbbff; }
          #wdb > article table tbody td.action a:before, #wdb > article table tbody td.close a:before {
            color: #88f;
            font-size: 18px; }
      #wdb > article table a {
        color: #88f; }
    #wdb > article.split {
      display: flex; }
    #wdb > article #source {
      flex: 7;
      display: flex;
      flex-direction: column;
      margin-left: 5px; }
      #wdb > article #source #source-editor {
        flex: 1;
        position: relative; }
        #wdb > article #source #source-editor .CodeMirror {
          position: absolute;
          height: 100%;
          width: 100%; }
      #wdb > article #source #interpreter {
        flex: 1;
        overflow-y: auto; }
        #wdb > article #source #interpreter:focus {
          outline: none; }
    #wdb > article #traceback {
      flex: 3;
      overflow-y: auto; }
  #wdb #watchers {
    display: flex;
    flex-flow: row wrap; }
    #wdb #watchers > div {
      margin-left: 5px;
      margin-right: 2em;
      display: flex; }
      #wdb #watchers > div .name {
        color: #ccc;
        cursor: pointer; }
      #wdb #watchers > div .value {
        flex: 1; }

a {
  color: #ccc; }

abbr {
  font-weight: bold; }

table {
  font-family: "Source Code Pro" !important;
  width: 100%; }
  table thead.toggle {
    cursor: pointer; }
  table tr {
    color: #ccc; }
    table tr[data-tid] {
      color: #777; }
    table tr td {
      padding: 0.25em;
      border: 1px solid #050606; }

input {
  border: 1px solid #050606;
  background-color: #1d1f21;
  color: #ccc;
  padding: 0.25em; }
  input[name=debug_file] {
    width: 500px; }
  input[type=submit] {
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em; }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ccc;
  font-variant: small-caps;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  h1 small {
    color: #777;
    display: block;
    font-size: 0.5em;
    font-variant: normal;
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

code {
  font-family: "Source Code Pro" !important;
  display: block;
  white-space: pre-wrap;
  word-break: break-all; }

#source-editor:focus {
  outline: none; }
#source-editor > .CodeMirror {
  font-family: "Source Code Pro" !important;
  font-weight: bold;
  font-size: 15px;
  box-shadow: inset -8px 0 20px black; }
  #source-editor > .CodeMirror.rw:after {
    position: absolute;
    top: 2em;
    right: -2em;
    content: 'Edit Mode';
    background: black;
    color: #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 0.2em 2em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  #source-editor > .CodeMirror .breakpoints {
    width: 0.6em;
    border: none; }

#eval {
  background-color: transparent;
  border: none;
  flex: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  vertical-align: top; }

#interpreter {
  font: 12px/1.5 "Source Code Pro", monospace; }

#scrollback .display {
  box-shadow: inset -8px 0 20px black;
  background-color: white;
  border: 1px solid black;
  resize: both; }
#scrollback iframe.display {
  width: 100%;
  min-height: 300px; }

#prompt, .prompted {
  padding: 0.5em 0 0 0; }
  #prompt:before, .prompted:before {
    font: 12px/1.5 "Source Code Pro", monospace;
    color: #c3c6c4;
    content: ">>> "; }

#prompt {
  display: flex; }
  #prompt textarea {
    color: #c3c6c4;
    font: 12px/1.5 "Source Code Pro", monospace;
    margin-left: 0.5em;
    resize: none; }

#completions .base {
  color: #ccc; }
#completions .completion {
  color: #777; }
#completions td {
  padding: 0.25em; }
  #completions td.active .base {
    color: red; }
  #completions td.active .completion {
    color: orangered; }
  #completions td.active.complete .base {
    color: #c66; }

#comp-desc, #backsearch {
  color: #3BA7C2;
  font-style: italic; }

.trace {
  font: 12px/1.5 "Source Code Pro", monospace; }

.traceline {
  transition: border 750ms;
  margin: 0 0 1em 1em;
  font: 12px/1.5 "Source Code Pro", monospace;
  clear: both;
  overflow: hidden;
  width: 94%;
  margin-left: 6%;
  background-color: #1b1b1b; }
  .traceline:before {
    background-color: #1b1b1b;
    border-color: #1b1b1b #1b1b1b #1d1f21 #1d1f21; }
  .traceline .tracefunfun {
    background-color: #1d1f21; }
    .traceline .tracefunfun .tracefun {
      background-color: #1b1b1b; }
      .traceline .tracefunfun .tracefun:before {
        border-color: #1b1b1b #1b1b1b #1d1f21 #1d1f21; }
  .traceline:nth-child(odd) {
    background-color: #181818; }
    .traceline:nth-child(odd):before {
      background-color: #181818;
      border-color: #181818 #181818 #1d1f21 #1d1f21; }
    .traceline:nth-child(odd) .tracefunfun {
      background-color: #1d1f21; }
      .traceline:nth-child(odd) .tracefunfun .tracefun {
        background-color: #181818; }
        .traceline:nth-child(odd) .tracefunfun .tracefun:before {
          border-color: #181818 #181818 #1d1f21 #1d1f21; }
  .traceline:hover {
    background-color: #0e0e0e; }
    .traceline:hover:before {
      background-color: #0e0e0e;
      border-color: #0e0e0e #0e0e0e #1d1f21 #1d1f21; }
    .traceline:hover .tracefunfun {
      background-color: #1d1f21; }
      .traceline:hover .tracefunfun .tracefun {
        background-color: #0e0e0e; }
        .traceline:hover .tracefunfun .tracefun:before {
          border-color: #0e0e0e #0e0e0e #1d1f21 #1d1f21; }
  .traceline.selected {
    width: 98%;
    margin-left: 2%;
    background-color: #010101;
    background-color: #010101; }
    .traceline.selected:before {
      background-color: #010101;
      border-color: #010101 #010101 #1d1f21 #1d1f21; }
    .traceline.selected .tracefunfun {
      background-color: #1d1f21; }
      .traceline.selected .tracefunfun .tracefun {
        background-color: #010101; }
        .traceline.selected .tracefunfun .tracefun:before {
          border-color: #010101 #010101 #1d1f21 #1d1f21; }
  .traceline.real-selected {
    background-color: #0e0e0e;
    background-color: #0e0e0e; }
    .traceline.real-selected:before {
      background-color: #0e0e0e;
      border-color: #0e0e0e #0e0e0e #1d1f21 #1d1f21; }
    .traceline.real-selected .tracefunfun {
      background-color: #1d1f21; }
      .traceline.real-selected .tracefunfun .tracefun {
        background-color: #0e0e0e; }
        .traceline.real-selected .tracefunfun .tracefun:before {
          border-color: #0e0e0e #0e0e0e #1d1f21 #1d1f21; }
  .traceline .tracecode {
    padding: 0.5em;
    padding-top: 0.25em;
    clear: both; }
    .traceline .tracecode > code {
      white-space: nowrap; }
  .traceline .tracefunfun {
    overflow: hidden; }
    .traceline .tracefunfun .tracefun {
      font-weight: bolder;
      font-size: 0.8em;
      text-align: right;
      float: right;
      line-height: 1.2;
      color: #88f;
      padding-right: 2%; }
      .traceline .tracefunfun .tracefun:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.7em;
        display: inline-block;
        vertical-align: top; }
  .traceline .tracefilelno {
    padding: 0.5em;
    padding-bottom: 0.25em;
    word-wrap: break-word; }
    .traceline .tracefilelno .tracefile {
      color: #555; }
    .traceline .tracefilelno .tracelno {
      color: #999; }
      .traceline .tracefilelno .tracelno:before {
        content: ': '; }

.prettyprint {
  border: none !important; }

.CodeMirror-linenumber {
  font-size: 14px; }

.CodeMirror-gutter-elt {
  text-align: center; }
  .CodeMirror-gutter-elt .breakpoint {
    position: relative;
    top: -2px; }

.CodeMirror-gutter.breaks {
  width: 0.6em; }

.CodeMirror-linebackground {
  transition: 1s; }
  .CodeMirror-linebackground:hover {
    transition: 1s;
    color: #8cedff; }
  .CodeMirror-linebackground.ctx {
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: #fff;
    background-color: #181818; }
    .CodeMirror-linebackground.ctx.ctx-top {
      border-top: 1px solid black; }
    .CodeMirror-linebackground.ctx.ctx-bottom {
      border-bottom: 1px solid black; }
    .CodeMirror-linebackground.ctx:before {
      color: #fff;
      background-color: #181818; }
  .CodeMirror-linebackground.footstep {
    color: black;
    background-color: #111 !important; }
  .CodeMirror-linebackground.breakpoint {
    color: #ff5995;
    background-color: rgba(255, 89, 149, 0.15) !important; }
  .CodeMirror-linebackground.highlighted {
    color: #b6e354;
    background-color: black !important; }
  .CodeMirror-linebackground.breakpoint.highlighted {
    background-color: rgba(242, 0, 88, 0.15) !important; }
  .CodeMirror-linebackground.ask-breakpoint {
    color: yellow; }

a.inspect {
  display: inline-block;
  text-decoration: none;
  background-color: #181818;
  border: 1px solid #111; }
  a.inspect:hover {
    background-color: #111;
    border: 1px solid black; }

.long {
  display: none; }

.short.close:after {
  content: '…"'; }

#comp-desc {
  text-align: left; }
  #comp-desc .fun_name {
    color: #fff; }
  #comp-desc .fun_punct {
    color: #fff; }
  #comp-desc .fun_param {
    color: #969896; }
    #comp-desc .fun_param.active {
      color: #de935f; }

.backsearched {
  text-decoration: underline; }

.out code, .out a {
  display: inline; }

.object {
  border: 1px solid #191919;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em; }
  .object thead.toggle:hover {
    background-color: #111; }
  .object thead.toggle td {
    text-align: center; }
    .object thead.toggle td:after {
      content: '[-]';
      float: right; }
  .object thead.toggle.hidden td:after {
    content: '[+]'; }
  .object tbody td, .object thead td {
    border: 2px solid #111;
    padding: 0.2em 0.5em;
    min-width: 100px; }
  .object tbody.hidden {
    display: none; }
  .object tbody tr > :first-child {
    vertical-align: top; }
  .object tbody table td {
    border: none; }
  .object .core {
    background-color: #0e0e0e; }
  .object .method {
    background-color: #141414; }
  .object .attr {
    background-color: #181818; }
  .object .doc {
    background-color: #1c1c1c; }
  .object .source {
    background-color: #202020; }

.nogood {
  color: red !important; }
  .nogood > .pln, .nogood > .typ {
    color: red !important; }

.waiting_for_hl {
  opacity: 0.4; }

code, code span {
  transition: opacity 50ms; }

.trace_500 {
  margin: 0 1em 1em; }
  .trace_500 .flno {
    color: #777;
    font-size: 1.3em;
    float: left; }
  .trace_500 .fun {
    font-size: 1.2em;
    float: right; }
  .trace_500 code {
    font-size: 1.3em;
    padding: 0.5em;
    clear: left; }

#activate, #deactivate {
  display: block;
  width: 80px;
  margin: 0 10px;
  text-decoration: none;
  background-color: #292c2f; }
  #activate:before, #deactivate:before {
    display: block;
    width: 40px;
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-weight: bold; }

#activate:before {
  content: 'Off';
  background-color: red; }

#deactivate:before {
  content: 'On';
  margin-left: 40px;
  background-color: green; }

.CodeMirror-dialog {
  background-color: #050606;
  border-bottom-color: #1d1f21;
  color: #ccc; }

.cm-searching {
  background: #35393c; }

.state {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: 0.9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 35px #2187e7;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 50px;
  height: 50px;
  -webkit-animation: spinPulse 1s infinite linear;
  animation: spinPulse 1s infinite linear;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }
  .state.inner {
    width: 30px;
    height: 30px;
    top: 30px;
    left: 20px;
    -webkit-animation: spinoffPulse 1s infinite linear;
    animation: spinoffPulse 1s infinite linear;
    -webkit-animation-play-state: paused;
    animation-play-state: paused; }
  .state.on {
    -webkit-animation-play-state: running;
    animation-play-state: running; }

@keyframes spinPulse {
  0% {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    opacity: 1; }

  50% {
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
    opacity: 0; }

  100% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7; } }

@keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    opacity: 1; }

  50% {
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
    opacity: 0; }

  100% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7; } }

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

\::-webkit-scrollbar {
  background: #1d1f21;
  border: 1px solid black;
  width: 0.75em;
  height: 0.75em; }

\::-webkit-scrollbar-thumb {
  background: #181818;
  border: 1px solid black; }
