@charset "UTF-8";
/* Soothe palette. Inspired from https://github.com/emacsfodder/emacs-soothe-theme */
/* $hl-bg-comment:     $alt-background */
/* $hl-variable:       $blue-1 */
/* $hl-bg-variable:    $blue-1bg */
/* $hl-variable-2:     $blue-2 */
/* $hl-bg-variable-2:  $blue-1bg */
/* $hl-variable-3:     $blue-3 */
/* $hl-bg-variable-3:  $blue-1bg */
/* $hl-attribute:      $hl-variable */
/* $hl-bg-attribute:   $hl-bg-variable */
@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Regular.ttf.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Semibold.ttf.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Bold.ttf.woff") format("woff");
  font-weight: 900; }

.CodeMirror-focused .CodeMirror-selected {
  background: #1B333E; }

.CodeMirror, .CodeMirror-standalone {
  color: #F4EAD5;
  background-color: #110F13;
  /* Use each loop to hash when sass 3.3 is released */ }
  .CodeMirror .CodeMirror-selected, .CodeMirror-standalone .CodeMirror-selected {
    background: #1E252F; }
  .CodeMirror .CodeMirror-gutters, .CodeMirror-standalone .CodeMirror-gutters {
    border-right: 1px solid black; }
    .CodeMirror .CodeMirror-gutters .CodeMirror-gutter, .CodeMirror-standalone .CodeMirror-gutters .CodeMirror-gutter {
      background: #141414; }
  .CodeMirror .CodeMirror-linenumber, .CodeMirror-standalone .CodeMirror-linenumber {
    color: #F4EAD5; }
  .CodeMirror .CodeMirror-cursor, .CodeMirror-standalone .CodeMirror-cursor {
    border-left: 1px solid #E0E4CC !important; }
  .CodeMirror span.cm-keyword, .CodeMirror-standalone span.cm-keyword {
    color: #D94A05;
    background-color: #1F1710; }
  .CodeMirror span.cm-atom, .CodeMirror-standalone span.cm-atom {
    color: #01535F;
    background-color: #111013; }
  .CodeMirror span.cm-number, .CodeMirror-standalone span.cm-number {
    color: #7868B5;
    background-color: #1D1B25; }
  .CodeMirror span.cm-def, .CodeMirror-standalone span.cm-def {
    color: #B13120;
    background-color: #1D1515; }
  .CodeMirror span.cm-variable, .CodeMirror-standalone span.cm-variable {
    color: #F4EAD5;
    background-color: #110F13; }
  .CodeMirror span.cm-variable-2, .CodeMirror-standalone span.cm-variable-2 {
    color: #F4EAD5;
    background-color: #110F13; }
  .CodeMirror span.cm-variable-3, .CodeMirror-standalone span.cm-variable-3 {
    color: #F4EAD5;
    background-color: #110F13; }
  .CodeMirror span.cm-property, .CodeMirror-standalone span.cm-property {
    color: #A23F1E;
    background-color: #1D1515; }
  .CodeMirror span.cm-operator, .CodeMirror-standalone span.cm-operator {
    color: #D94A05;
    background-color: #1F1710; }
  .CodeMirror span.cm-comment, .CodeMirror-standalone span.cm-comment {
    color: #073E46;
    background-color: #110F13; }
  .CodeMirror span.cm-string, .CodeMirror-standalone span.cm-string {
    color: #009090;
    background-color: #031316; }
  .CodeMirror span.cm-string-2, .CodeMirror-standalone span.cm-string-2 {
    color: #009090;
    background-color: #0A0A0A; }
  .CodeMirror span.cm-meta, .CodeMirror-standalone span.cm-meta {
    color: #D94A05;
    background-color: #1F1710; }
  .CodeMirror span.cm-qualifier, .CodeMirror-standalone span.cm-qualifier {
    color: #D94A05;
    background-color: #1F1710; }
  .CodeMirror span.cm-builtin, .CodeMirror-standalone span.cm-builtin {
    color: #A23F1E;
    background-color: #1D1515; }
  .CodeMirror span.cm-bracket, .CodeMirror-standalone span.cm-bracket {
    color: #CEAE3E;
    background-color: #18140C; }
  .CodeMirror span.cm-tag, .CodeMirror-standalone span.cm-tag {
    color: #B13120;
    background-color: #1D1515; }
  .CodeMirror span.cm-attribute, .CodeMirror-standalone span.cm-attribute {
    color: #F4EAD5;
    background-color: #110F13; }
  .CodeMirror span.cm-header, .CodeMirror-standalone span.cm-header {
    color: #009090;
    background-color: #0A0A0A; }
  .CodeMirror span.cm-quote, .CodeMirror-standalone span.cm-quote {
    color: #009090;
    background-color: #0A0A0A; }
  .CodeMirror span.cm-hr, .CodeMirror-standalone span.cm-hr {
    color: #828282;
    background-color: #110F13; }
  .CodeMirror span.cm-link, .CodeMirror-standalone span.cm-link {
    color: #317598;
    background-color: #110F13; }
  .CodeMirror span.cm-error, .CodeMirror-standalone span.cm-error {
    color: #A23F1E;
    background-color: #251C1E; }

body, html {
  color: #F4EAD5;
  background-color: #110F13;
  height: 100%;
  margin: 0; }

#wdb {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }
  #wdb > header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    min-height: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #wdb > header #activity {
      width: 100px; }
    #wdb > header #title {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin: 0;
      font-family: "Source Code Pro"; }
  #wdb > article {
    min-height: 0; }
    #wdb > article table, #wdb > article form, #wdb > article p {
      margin: 0 auto;
      width: 90%; }
    #wdb > article table {
      border-collapse: collapse;
      width: 90%;
      margin: 0 auto; }
      #wdb > article table tbody td.action, #wdb > article table tbody td.close {
        text-align: center; }
        #wdb > article table tbody td.action a, #wdb > article table tbody td.close a {
          text-decoration: none; }
          #wdb > article table tbody td.action a:hover:before, #wdb > article table tbody td.action a:focus:before, #wdb > article table tbody td.close a:hover:before, #wdb > article table tbody td.close a:focus:before {
            color: #d9402b; }
          #wdb > article table tbody td.action a:before, #wdb > article table tbody td.close a:before {
            color: #B13120;
            font-size: 18px; }
      #wdb > article table a {
        color: #B13120; }
    #wdb > article.split {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    #wdb > article #source {
      -webkit-box-flex: 7;
      -webkit-flex: 7;
          -ms-flex: 7;
              flex: 7;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 5px; }
      #wdb > article #source #source-editor {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        position: relative;
        min-height: 45vh; }
        #wdb > article #source #source-editor .CodeMirror {
          position: absolute;
          height: 100%;
          width: 100%; }
      #wdb > article #source #interpreter {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        min-height: 40vh;
        overflow-y: auto; }
        #wdb > article #source #interpreter:focus {
          outline: none; }
    #wdb > article #traceback {
      -webkit-box-flex: 3;
      -webkit-flex: 3;
          -ms-flex: 3;
              flex: 3;
      overflow-y: auto;
      overflow-x: hidden; }
  #wdb > footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 0; }
    #wdb > footer #watchers {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      #wdb > footer #watchers > div {
        margin-left: 5px;
        margin-right: 2em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        #wdb > footer #watchers > div .name {
          color: #F4EAD5;
          cursor: pointer; }
        #wdb > footer #watchers > div .value {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
    #wdb > footer #home {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      margin: 0 5px; }

a {
  color: #F4EAD5; }

abbr {
  font-weight: bold; }

table {
  font-family: "Source Code Pro" !important;
  width: 100%; }
  table thead.toggle {
    cursor: pointer; }
  table tr {
    color: #F4EAD5; }
    table tr[data-tid] {
      color: #E0E4CC; }
    table tr td {
      padding: .25em;
      border: 1px solid black; }
  table.diff {
    line-height: normal;
    border: 1px solid black; }
    table.diff thead {
      border: 1px solid black; }
    table.diff td {
      width: 49%;
      border-top: none;
      border-bottom: none;
      padding-top: 0;
      padding-bottom: 0; }
    table.diff .diff_lno {
      background: #141414;
      color: #F4EAD5;
      min-width: 50px;
      padding-left: 10px;
      padding-right: 10px;
      width: 1%; }
    table.diff .diff_line {
      white-space: pre-wrap;
      word-break: break-word; }
    table.diff .diff_sub {
      color: #B13120;
      background-color: #1D1515; }
    table.diff .diff_line_sub {
      background-color: #1D1515; }
    table.diff .diff_add {
      color: #719F34;
      background-color: #1A2321; }
    table.diff .diff_line_add {
      background-color: #1A2321; }
    table.diff .diff_chg {
      color: #CEAE3E;
      background-color: #18140C; }
    table.diff .diff_line_chg {
      background-color: #18140C; }

input {
  border: 1px solid black;
  background-color: #110F13;
  color: #F4EAD5;
  padding: .25em; }
  input[name=debug_file] {
    width: 500px; }
  input[type=submit] {
    font-weight: bold;
    padding-left: .5em;
    padding-right: .5em; }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #F4EAD5;
  font-variant: small-caps;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  h1 small {
    color: #E0E4CC;
    display: block;
    font-size: .5em;
    font-variant: normal;
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

code {
  font-family: "Source Code Pro" !important;
  display: block;
  white-space: pre-wrap;
  word-break: break-all; }

#source-editor:focus {
  outline: none; }
#source-editor > .CodeMirror {
  font: 12px/1.5 "Source Code Pro", monospace;
  box-shadow: inset -8px 0 20px black; }
  #source-editor > .CodeMirror.rw:after {
    position: absolute;
    top: 2em;
    right: -2em;
    content: 'Edit Mode';
    background: black;
    color: #E0E4CC;
    border-top: 1px solid #009090;
    border-bottom: 1px solid #009090;
    padding: .2em 2em;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  #source-editor > .CodeMirror .breakpoints {
    width: .6em;
    border: none; }

#eval {
  background-color: transparent;
  border: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  vertical-align: top; }

#interpreter {
  font: 12px/1.5 "Source Code Pro", monospace; }

#scrollback .display {
  box-shadow: inset -8px 0 20px black;
  background-color: white;
  border: 1px solid black;
  resize: both; }
#scrollback .duration {
  float: right;
  padding: 0.5em 0 0 0;
  opacity: .333; }
#scrollback iframe.display {
  width: 100%;
  min-height: 300px; }

#prompt, .prompted {
  padding: 0.5em 0 0 0;
  position: relative; }
  #prompt:before, .prompted:before {
    font: 12px/1.5 "Source Code Pro", monospace;
    color: #F4EAD5;
    content: ">>> "; }
  #prompt.multiline:after, .prompted.multiline:after {
    font: 12px/1.5 "Source Code Pro", monospace;
    color: #F4EAD5;
    content: "... ";
    position: absolute;
    bottom: 1.25em;
    left: 0; }

#prompt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #prompt textarea {
    color: #F4EAD5;
    font: 12px/1.5 "Source Code Pro", monospace;
    margin-left: 0.5em;
    resize: none; }

#completions .base {
  color: #F4EAD5; }
#completions .completion {
  color: #E0E4CC; }
#completions td {
  padding: 0.25em; }
  #completions td.active .base {
    color: #B13120; }
  #completions td.active .completion {
    color: #D94A05; }
  #completions td.active.complete .base {
    color: #A23F1E; }

#comp-desc, #backsearch {
  color: #7868B5;
  font-style: italic; }

.trace {
  font: 12px/1.5 "Source Code Pro", monospace; }

.traceline {
  -webkit-transition: 750ms;
          transition: 750ms;
  margin: 0 0 1em 1em;
  font: 12px/1.5 "Source Code Pro", monospace;
  clear: both;
  overflow: hidden;
  width: 94%;
  margin-left: 6%;
  background-color: #0F0D11; }
  .traceline:hover {
    overflow: auto; }
  .traceline:before {
    background-color: #0F0D11;
    border-color: #0F0D11 #0F0D11 #110F13 #110F13; }
  .traceline .tracefunfun {
    background-color: #110F13; }
    .traceline .tracefunfun .tracefun {
      background-color: #0F0D11; }
      .traceline .tracefunfun .tracefun:before {
        border-color: #0F0D11 #0F0D11 #110F13 #110F13; }
  .traceline:nth-child(odd) {
    background-color: #0F0D11; }
    .traceline:nth-child(odd):before {
      background-color: #0F0D11;
      border-color: #0F0D11 #0F0D11 #110F13 #110F13; }
    .traceline:nth-child(odd) .tracefunfun {
      background-color: #110F13; }
      .traceline:nth-child(odd) .tracefunfun .tracefun {
        background-color: #0F0D11; }
        .traceline:nth-child(odd) .tracefunfun .tracefun:before {
          border-color: #0F0D11 #0F0D11 #110F13 #110F13; }
  .traceline:hover {
    background-color: #020203; }
    .traceline:hover:before {
      background-color: #020203;
      border-color: #020203 #020203 #110F13 #110F13; }
    .traceline:hover .tracefunfun {
      background-color: #110F13; }
      .traceline:hover .tracefunfun .tracefun {
        background-color: #020203; }
        .traceline:hover .tracefunfun .tracefun:before {
          border-color: #020203 #020203 #110F13 #110F13; }
  .traceline.real-selected {
    background-color: #020203; }
    .traceline.real-selected:before {
      background-color: #020203;
      border-color: #020203 #020203 #110F13 #110F13; }
    .traceline.real-selected .tracefunfun {
      background-color: #110F13; }
      .traceline.real-selected .tracefunfun .tracefun {
        background-color: #020203; }
        .traceline.real-selected .tracefunfun .tracefun:before {
          border-color: #020203 #020203 #110F13 #110F13; }
  .traceline.selected {
    width: 98%;
    margin-left: 2%;
    background-color: black;
    background-color: black; }
    .traceline.selected:before {
      background-color: black;
      border-color: black black #110F13 #110F13; }
    .traceline.selected .tracefunfun {
      background-color: #110F13; }
      .traceline.selected .tracefunfun .tracefun {
        background-color: black; }
        .traceline.selected .tracefunfun .tracefun:before {
          border-color: black black #110F13 #110F13; }
  .traceline.breakpoint {
    background-color: #251C1E; }
    .traceline.breakpoint:before {
      background-color: #251C1E;
      border-color: #251C1E #251C1E #110F13 #110F13; }
    .traceline.breakpoint .tracefunfun {
      background-color: #110F13; }
      .traceline.breakpoint .tracefunfun .tracefun {
        background-color: #251C1E; }
        .traceline.breakpoint .tracefunfun .tracefun:before {
          border-color: #251C1E #251C1E #110F13 #110F13; }
  .traceline .tracecode {
    padding: .5em;
    padding-top: .25em;
    clear: both; }
    .traceline .tracecode > code {
      white-space: nowrap; }
  .traceline .tracefunfun {
    overflow: hidden; }
    .traceline .tracefunfun .tracefun {
      font-weight: bolder;
      font-size: .8em;
      text-align: right;
      float: right;
      line-height: 1.2;
      color: #B13120;
      padding-right: 2%; }
      .traceline .tracefunfun .tracefun:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: .7em;
        display: inline-block;
        vertical-align: top; }
  .traceline .tracefilelno {
    padding: .5em;
    padding-bottom: .25em;
    word-wrap: break-word; }
    .traceline .tracefilelno .tracefile {
      color: #009090; }
    .traceline .tracefilelno .tracelno {
      color: #7868B5; }
      .traceline .tracefilelno .tracelno:before {
        content: ': '; }

.prettyprint {
  border: none !important; }

.CodeMirror-linenumber {
  font-size: 14px; }

.CodeMirror-gutter-elt {
  text-align: center; }
  .CodeMirror-gutter-elt .breakpoint {
    /* Compensate a bit low unicode char */
    position: relative;
    top: -2px; }

.CodeMirror-gutter.breaks {
  width: .6em; }

.CodeMirror-linebackground {
  -webkit-transition: background-color 1s;
          transition: background-color 1s; }
  .CodeMirror-linebackground:hover {
    -webkit-transition: 1s;
            transition: 1s;
    color: #8cedff; }
  .CodeMirror-linebackground.ctx {
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: #fff;
    background-color: #141414; }
    .CodeMirror-linebackground.ctx.ctx-top {
      border-top: 1px solid black; }
    .CodeMirror-linebackground.ctx.ctx-bottom {
      border-bottom: 1px solid black; }
    .CodeMirror-linebackground.ctx:before {
      color: #fff;
      background-color: #141414; }
  .CodeMirror-linebackground.footstep {
    color: #F4EAD5;
    background-color: #111013 !important; }
  .CodeMirror-linebackground.breakpoint {
    color: #A23F1E;
    background-color: #251C1E !important; }
  .CodeMirror-linebackground.highlighted {
    color: #F4EAD5;
    background-color: #0F0D11 !important; }
  .CodeMirror-linebackground.breakpoint.highlighted {
    background-color: black !important; }
  .CodeMirror-linebackground.ask-breakpoint {
    color: #CEAE3E; }

a.inspect {
  display: inline-block;
  text-decoration: none;
  background-color: #0F0D11;
  border: 1px solid #111013; }
  a.inspect:hover {
    background-color: #111013;
    border: 1px solid #0F0D11; }

.long {
  display: none; }

.short.close:after {
  content: '…"'; }

#comp-desc {
  text-align: left; }
  #comp-desc .fun_name {
    color: #B13120; }
  #comp-desc .fun_punct {
    color: #D94A05; }
  #comp-desc .fun_param {
    color: #009090; }
    #comp-desc .fun_param.active {
      color: #D94A05; }

.backsearched {
  text-decoration: underline; }

.out code, .out a {
  display: inline; }

.object {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em; }
  .object thead.toggle:hover {
    background-color: #111013; }
  .object thead.toggle td {
    text-align: center; }
    .object thead.toggle td:after {
      content: '[-]';
      float: right; }
  .object thead.toggle.closed td:after {
    content: '[+]'; }
  .object tbody td, .object thead td {
    border: 2px solid black;
    padding: 0.2em 0.5em;
    min-width: 100px; }
  .object tbody.closed {
    display: none; }
  .object tbody tr > :first-child {
    vertical-align: top; }
  .object tbody table td {
    border: none; }
  .object .core {
    background-color: #0F0D11; }
  .object .method {
    background-color: #0F0D11; }
  .object .attr {
    background-color: #0F0D11; }
  .object .doc {
    background-color: #0F0D11; }
  .object .source {
    background-color: #0F0D11; }

.nogood {
  color: red !important; }
  .nogood > .pln, .nogood > .typ {
    color: red !important; }

.waiting_for_hl {
  opacity: .4; }

code, code span {
  -webkit-transition: opacity 50ms;
          transition: opacity 50ms; }

.trace_500 {
  margin: 0 1em 1em; }
  .trace_500 .flno {
    color: #E0E4CC;
    font-size: 1.3em;
    float: left; }
  .trace_500 .fun {
    font-size: 1.2em;
    float: right; }
  .trace_500 code {
    font-size: 1.3em;
    padding: .5em;
    clear: left; }

#activate, #deactivate {
  display: block;
  width: 80px;
  margin: 0 10px;
  text-decoration: none;
  background-color: #1e1a21; }
  #activate:before, #deactivate:before {
    display: block;
    width: 40px;
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-weight: bold; }

#activate:before {
  content: 'Off';
  background-color: red; }

#deactivate:before {
  content: 'On';
  margin-left: 40px;
  background-color: green; }

.CodeMirror-dialog {
  background-color: black;
  border-bottom-color: #110F13;
  color: #F4EAD5; }

.cm-searching {
  background: #2b2630; }

.hidden {
  display: none; }

.CodeMirror {
  line-height: 1.3; }

.CodeMirror-standalone {
  background-color: transparent; }

.tracefile {
  background-color: #031316; }

.tracelno {
  background-color: #1D1B25; }

#traceback .traceline .tracefunfun .tracefun {
  background-color: #1D1515; }

[data-page=IndexHandler] {
  font-family: Verdana;
  margin: 0 10%; }

.cm-comment {
  font-style: italic; }

/* Got from http://www.alessioatzeni.com/blog/css3-loading-animation-loop/ */
.state {
  background-color: transparent;
  border: 5px solid #AAAAAA;
  opacity: .9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50px;
  box-shadow: 0 0 35px #828282;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 50px;
  height: 50px;
  -webkit-animation: spinPulse 1s infinite linear;
          animation: spinPulse 1s infinite linear; }
  .state.inner {
    width: 30px;
    height: 30px;
    top: 30px;
    left: 20px;
    -webkit-animation: spinoffPulse 1s infinite linear;
            animation: spinoffPulse 1s infinite linear; }

*, *:before, *:after {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important; }

.on, .on *, .on *:before, .on *:after {
  -webkit-animation-play-state: running !important;
          animation-play-state: running !important; }

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(145deg);
            transform: rotate(145deg);
    opacity: 1; }

  50% {
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg);
    opacity: 0; }

  100% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #828282; } }

@keyframes spinPulse {
  0% {
    -webkit-transform: rotate(145deg);
            transform: rotate(145deg);
    opacity: 1; }

  50% {
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg);
    opacity: 0; }

  100% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #828282; } }

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
