@charset "UTF-8";
@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Regular.ttf.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Semibold.ttf.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Bold.ttf.woff") format("woff");
  font-weight: 900; }

.CodeMirror, .CodeMirror-standalone {
  color: #666;
  background-color: transparent;
  /* Use each loop to hash when sass 3.3 is released */ }
  .CodeMirror .CodeMirror-gutters, .CodeMirror-standalone .CodeMirror-gutters {
    border-right: 1px solid #eee; }
    .CodeMirror .CodeMirror-gutters .CodeMirror-gutter, .CodeMirror-standalone .CodeMirror-gutters .CodeMirror-gutter {
      background: #fefefe; }
  .CodeMirror .CodeMirror-linenumber, .CodeMirror-standalone .CodeMirror-linenumber {
    color: rgba(0, 0, 0, 0.3); }
  .CodeMirror .CodeMirror-cursor, .CodeMirror-standalone .CodeMirror-cursor {
    border-left: 1px solid #666 !important; }
  .CodeMirror span.cm-keyword, .CodeMirror-standalone span.cm-keyword {
    color: #000;
    background-color: transparent; }
  .CodeMirror span.cm-atom, .CodeMirror-standalone span.cm-atom {
    color: blue;
    background-color: transparent; }
  .CodeMirror span.cm-number, .CodeMirror-standalone span.cm-number {
    color: #009;
    background-color: transparent; }
  .CodeMirror span.cm-def, .CodeMirror-standalone span.cm-def {
    color: #900;
    background-color: transparent; }
  .CodeMirror span.cm-variable, .CodeMirror-standalone span.cm-variable {
    color: #555;
    background-color: transparent; }
  .CodeMirror span.cm-variable-2, .CodeMirror-standalone span.cm-variable-2 {
    color: #999;
    background-color: transparent; }
  .CodeMirror span.cm-variable-3, .CodeMirror-standalone span.cm-variable-3 {
    color: #333;
    background-color: transparent; }
  .CodeMirror span.cm-property, .CodeMirror-standalone span.cm-property {
    color: #666;
    background-color: transparent; }
  .CodeMirror span.cm-operator, .CodeMirror-standalone span.cm-operator {
    color: #000;
    background-color: transparent; }
  .CodeMirror span.cm-comment, .CodeMirror-standalone span.cm-comment {
    color: #999988;
    background-color: transparent; }
  .CodeMirror span.cm-string, .CodeMirror-standalone span.cm-string {
    color: #d01040;
    background-color: transparent; }
  .CodeMirror span.cm-string-2, .CodeMirror-standalone span.cm-string-2 {
    color: #d01040;
    background-color: transparent; }
  .CodeMirror span.cm-meta, .CodeMirror-standalone span.cm-meta {
    color: #666;
    background-color: transparent; }
  .CodeMirror span.cm-qualifier, .CodeMirror-standalone span.cm-qualifier {
    color: #0086b3;
    background-color: transparent; }
  .CodeMirror span.cm-builtin, .CodeMirror-standalone span.cm-builtin {
    color: #0086b3;
    background-color: transparent; }
  .CodeMirror span.cm-bracket, .CodeMirror-standalone span.cm-bracket {
    color: #000;
    background-color: transparent; }
  .CodeMirror span.cm-tag, .CodeMirror-standalone span.cm-tag {
    color: #000080;
    background-color: transparent; }
  .CodeMirror span.cm-attribute, .CodeMirror-standalone span.cm-attribute {
    color: #008080;
    background-color: transparent; }
  .CodeMirror span.cm-header, .CodeMirror-standalone span.cm-header {
    color: #666;
    background-color: transparent; }
  .CodeMirror span.cm-quote, .CodeMirror-standalone span.cm-quote {
    color: #666;
    background-color: transparent; }
  .CodeMirror span.cm-hr, .CodeMirror-standalone span.cm-hr {
    color: #666;
    background-color: transparent; }
  .CodeMirror span.cm-link, .CodeMirror-standalone span.cm-link {
    color: #666;
    background-color: transparent; }
  .CodeMirror span.cm-error, .CodeMirror-standalone span.cm-error {
    color: purple;
    background-color: transparent; }

body, html {
  color: #666;
  background-color: #fff;
  height: 100%;
  margin: 0; }

#wdb {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }
  #wdb > header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    min-height: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #wdb > header #activity {
      width: 100px; }
    #wdb > header #title {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin: 0;
      font-family: "Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol'"; }
  #wdb > article {
    min-height: 0; }
    #wdb > article table, #wdb > article form, #wdb > article p {
      margin: 0 auto;
      width: 90%; }
    #wdb > article table {
      border-collapse: collapse;
      width: 90%;
      margin: 0 auto; }
      #wdb > article table tbody td.action, #wdb > article table tbody td.close {
        text-align: center; }
        #wdb > article table tbody td.action a, #wdb > article table tbody td.close a {
          text-decoration: none; }
          #wdb > article table tbody td.action a:hover:before, #wdb > article table tbody td.action a:focus:before, #wdb > article table tbody td.close a:hover:before, #wdb > article table tbody td.close a:focus:before {
            color: #00ace6; }
          #wdb > article table tbody td.action a:before, #wdb > article table tbody td.close a:before {
            color: #0086b3;
            font-size: 18px; }
      #wdb > article table a {
        color: #0086b3; }
    #wdb > article.split {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    #wdb > article #source {
      -webkit-box-flex: 7;
      -webkit-flex: 7;
          -ms-flex: 7;
              flex: 7;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 5px; }
      #wdb > article #source #source-editor {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        position: relative;
        min-height: 45vh; }
        #wdb > article #source #source-editor .CodeMirror {
          position: absolute;
          height: 100%;
          width: 100%; }
      #wdb > article #source #interpreter {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        min-height: 40vh;
        overflow-y: auto; }
        #wdb > article #source #interpreter:focus {
          outline: none; }
    #wdb > article #traceback {
      -webkit-box-flex: 3;
      -webkit-flex: 3;
          -ms-flex: 3;
              flex: 3;
      overflow-y: auto;
      overflow-x: hidden; }
  #wdb > footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 0; }
    #wdb > footer #watchers {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      #wdb > footer #watchers > div {
        margin-left: 5px;
        margin-right: 2em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        #wdb > footer #watchers > div .name {
          color: #666;
          cursor: pointer; }
        #wdb > footer #watchers > div .value {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
    #wdb > footer #home {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      margin: 0 5px; }

a {
  color: #666; }

abbr {
  font-weight: bold; }

table {
  font-family: "Source Code Pro" !important;
  width: 100%; }
  table thead.toggle {
    cursor: pointer; }
  table tr {
    color: #666; }
    table tr[data-tid] {
      color: #666; }
    table tr td {
      padding: .25em;
      border: 1px solid #e6e6e6; }
  table.diff {
    line-height: normal;
    border: 1px solid #eee; }
    table.diff thead {
      border: 1px solid #eee; }
    table.diff td {
      width: 49%;
      border-top: none;
      border-bottom: none;
      padding-top: 0;
      padding-bottom: 0; }
    table.diff .diff_lno {
      background: #fefefe;
      color: rgba(0, 0, 0, 0.3);
      min-width: 50px;
      padding-left: 10px;
      padding-right: 10px;
      width: 1%; }
    table.diff .diff_line {
      white-space: pre-wrap;
      word-break: break-word; }
    table.diff .diff_sub {
      color: inherit;
      background-color: #f8cbcb; }
    table.diff .diff_line_sub {
      background-color: #ffecec; }
    table.diff .diff_add {
      color: inherit;
      background-color: #a6f3a6; }
    table.diff .diff_line_add {
      background-color: #eaffea; }
    table.diff .diff_chg {
      color: inherit;
      background-color: #f2f1a1; }
    table.diff .diff_line_chg {
      background-color: #fffeeb; }

input {
  border: 1px solid #e6e6e6;
  background-color: #fff;
  color: #666;
  padding: .25em; }
  input[name=debug_file] {
    width: 500px; }
  input[type=submit] {
    font-weight: bold;
    padding-left: .5em;
    padding-right: .5em; }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #666;
  font-variant: small-caps;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  h1 small {
    color: #666;
    display: block;
    font-size: .5em;
    font-variant: normal;
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

code {
  font-family: "Source Code Pro" !important;
  display: block;
  white-space: pre-wrap;
  word-break: break-all; }

#source-editor:focus {
  outline: none; }
#source-editor > .CodeMirror {
  font: 12px/1.4 Consolas, "Liberation Mono", Menlo, Courier, monospace;
  box-shadow: inset -8px 0 20px none; }
  #source-editor > .CodeMirror.rw:after {
    position: absolute;
    top: 2em;
    right: -2em;
    content: 'Edit Mode';
    background: transparent;
    color: #666;
    border-top: 1px solid #d01040;
    border-bottom: 1px solid #d01040;
    padding: .2em 2em;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  #source-editor > .CodeMirror .breakpoints {
    width: .6em;
    border: none; }

#eval {
  background-color: transparent;
  border: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  vertical-align: top; }

#interpreter {
  font: 12px/1.4 Consolas, "Liberation Mono", Menlo, Courier, monospace; }

#scrollback .display {
  box-shadow: inset -8px 0 20px none;
  background-color: white;
  border: 1px solid transparent;
  resize: both; }
#scrollback .duration {
  float: right;
  padding: 0.5em 0 0 0;
  opacity: .333; }
#scrollback iframe.display {
  width: 100%;
  min-height: 300px; }

#prompt, .prompted {
  padding: 0.5em 0 0 0;
  position: relative; }
  #prompt:before, .prompted:before {
    font: 12px/1.4 Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #666;
    content: ">>> "; }
  #prompt.multiline:after, .prompted.multiline:after {
    font: 12px/1.4 Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #666;
    content: "... ";
    position: absolute;
    bottom: 1.25em;
    left: 0; }

#prompt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #prompt textarea {
    color: #666;
    font: 12px/1.4 Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin-left: 0.5em;
    resize: none; }

#completions .base {
  color: #666; }
#completions .completion {
  color: #666; }
#completions td {
  padding: 0.25em; }
  #completions td.active .base {
    color: red; }
  #completions td.active .completion {
    color: orangered; }
  #completions td.active.complete .base {
    color: red; }

#comp-desc, #backsearch {
  color: #333;
  font-style: italic; }

.trace {
  font: 12px/1.4 Consolas, "Liberation Mono", Menlo, Courier, monospace; }

.traceline {
  -webkit-transition: 750ms;
          transition: 750ms;
  margin: 0 0 1em 1em;
  font: 12px/1.4 Consolas, "Liberation Mono", Menlo, Courier, monospace;
  clear: both;
  overflow: hidden;
  width: 94%;
  margin-left: 6%;
  background-color: #f7f7f7; }
  .traceline:hover {
    overflow: auto; }
  .traceline:before {
    background-color: #f7f7f7;
    border-color: #f7f7f7 #f7f7f7 #fff #fff; }
  .traceline .tracefunfun {
    background-color: #fff; }
    .traceline .tracefunfun .tracefun {
      background-color: #f7f7f7; }
      .traceline .tracefunfun .tracefun:before {
        border-color: #f7f7f7 #f7f7f7 #fff #fff; }
  .traceline:nth-child(odd) {
    background-color: #f7f7f7; }
    .traceline:nth-child(odd):before {
      background-color: #f7f7f7;
      border-color: #f7f7f7 #f7f7f7 #fff #fff; }
    .traceline:nth-child(odd) .tracefunfun {
      background-color: #fff; }
      .traceline:nth-child(odd) .tracefunfun .tracefun {
        background-color: #f7f7f7; }
        .traceline:nth-child(odd) .tracefunfun .tracefun:before {
          border-color: #f7f7f7 #f7f7f7 #fff #fff; }
  .traceline:hover {
    background-color: #fff; }
    .traceline:hover:before {
      background-color: #fff;
      border-color: #fff #fff #fff #fff; }
    .traceline:hover .tracefunfun {
      background-color: #fff; }
      .traceline:hover .tracefunfun .tracefun {
        background-color: #fff; }
        .traceline:hover .tracefunfun .tracefun:before {
          border-color: #fff #fff #fff #fff; }
  .traceline.real-selected {
    background-color: #f8f8f8; }
    .traceline.real-selected:before {
      background-color: #f8f8f8;
      border-color: #f8f8f8 #f8f8f8 #fff #fff; }
    .traceline.real-selected .tracefunfun {
      background-color: #fff; }
      .traceline.real-selected .tracefunfun .tracefun {
        background-color: #f8f8f8; }
        .traceline.real-selected .tracefunfun .tracefun:before {
          border-color: #f8f8f8 #f8f8f8 #fff #fff; }
  .traceline.selected {
    width: 98%;
    margin-left: 2%;
    background-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0); }
    .traceline.selected:before {
      background-color: rgba(255, 255, 255, 0);
      border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff #fff; }
    .traceline.selected .tracefunfun {
      background-color: #fff; }
      .traceline.selected .tracefunfun .tracefun {
        background-color: rgba(255, 255, 255, 0); }
        .traceline.selected .tracefunfun .tracefun:before {
          border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff #fff; }
  .traceline.breakpoint {
    background-color: rgba(255, 0, 0, 0.1); }
    .traceline.breakpoint:before {
      background-color: rgba(255, 0, 0, 0.1);
      border-color: rgba(255, 0, 0, 0.1) rgba(255, 0, 0, 0.1) #fff #fff; }
    .traceline.breakpoint .tracefunfun {
      background-color: #fff; }
      .traceline.breakpoint .tracefunfun .tracefun {
        background-color: rgba(255, 0, 0, 0.1); }
        .traceline.breakpoint .tracefunfun .tracefun:before {
          border-color: rgba(255, 0, 0, 0.1) rgba(255, 0, 0, 0.1) #fff #fff; }
  .traceline .tracecode {
    padding: .5em;
    padding-top: .25em;
    clear: both; }
    .traceline .tracecode > code {
      white-space: nowrap; }
  .traceline .tracefunfun {
    overflow: hidden; }
    .traceline .tracefunfun .tracefun {
      font-weight: bolder;
      font-size: .8em;
      text-align: right;
      float: right;
      line-height: 1.2;
      color: #0086b3;
      padding-right: 2%; }
      .traceline .tracefunfun .tracefun:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: .7em;
        display: inline-block;
        vertical-align: top; }
  .traceline .tracefilelno {
    padding: .5em;
    padding-bottom: .25em;
    word-wrap: break-word; }
    .traceline .tracefilelno .tracefile {
      color: #d01040; }
    .traceline .tracefilelno .tracelno {
      color: #009; }
      .traceline .tracefilelno .tracelno:before {
        content: ': '; }

.prettyprint {
  border: none !important; }

.CodeMirror-linenumber {
  font-size: 14px; }

.CodeMirror-gutter-elt {
  text-align: center; }
  .CodeMirror-gutter-elt .breakpoint {
    /* Compensate a bit low unicode char */
    position: relative;
    top: -2px; }

.CodeMirror-gutter.breaks {
  width: .6em; }

.CodeMirror-linebackground {
  -webkit-transition: background-color 1s;
          transition: background-color 1s; }
  .CodeMirror-linebackground:hover {
    -webkit-transition: 1s;
            transition: 1s;
    color: rgba(0, 0, 0, 0.4); }
  .CodeMirror-linebackground.ctx {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: rgba(0, 0, 0, 0.3);
    background-color: #fdfdfd; }
    .CodeMirror-linebackground.ctx.ctx-top {
      border-top: 1px solid transparent; }
    .CodeMirror-linebackground.ctx.ctx-bottom {
      border-bottom: 1px solid transparent; }
    .CodeMirror-linebackground.ctx:before {
      color: rgba(0, 0, 0, 0.3);
      background-color: #fdfdfd; }
  .CodeMirror-linebackground.footstep {
    color: #666;
    background-color: #fff !important; }
  .CodeMirror-linebackground.breakpoint {
    color: inherit;
    background-color: rgba(255, 0, 0, 0.1) !important; }
  .CodeMirror-linebackground.highlighted {
    color: #666;
    background-color: #f6f6f6 !important; }
  .CodeMirror-linebackground.breakpoint.highlighted {
    background-color: rgba(153, 0, 0, 0.1) !important; }
  .CodeMirror-linebackground.ask-breakpoint {
    color: #000; }

a.inspect {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.025);
  border: 1px solid rgba(0, 0, 0, 0.05); }
  a.inspect:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.025); }

.long {
  display: none; }

.short.close:after {
  content: '…"'; }

#comp-desc {
  text-align: left; }
  #comp-desc .fun_name {
    color: #900; }
  #comp-desc .fun_punct {
    color: #000; }
  #comp-desc .fun_param {
    color: #d01040; }
    #comp-desc .fun_param.active {
      color: #000; }

.backsearched {
  text-decoration: underline; }

.out code, .out a {
  display: inline; }

.object {
  border: 1px solid #f5f5f5;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em; }
  .object thead.toggle:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  .object thead.toggle td {
    text-align: center; }
    .object thead.toggle td:after {
      content: '[-]';
      float: right; }
  .object thead.toggle.closed td:after {
    content: '[+]'; }
  .object tbody td, .object thead td {
    border: 2px solid #f5f5f5;
    padding: 0.2em 0.5em;
    min-width: 100px; }
  .object tbody.closed {
    display: none; }
  .object tbody tr > :first-child {
    vertical-align: top; }
  .object tbody table td {
    border: none; }
  .object .core {
    background-color: #f5f5f5; }
  .object .method {
    background-color: #f5f5f5; }
  .object .attr {
    background-color: #f5f5f5; }
  .object .doc {
    background-color: #f5f5f5; }
  .object .source {
    background-color: #f5f5f5; }

.nogood {
  color: red !important; }
  .nogood > .pln, .nogood > .typ {
    color: red !important; }

.waiting_for_hl {
  opacity: .4; }

code, code span {
  -webkit-transition: opacity 50ms;
          transition: opacity 50ms; }

.trace_500 {
  margin: 0 1em 1em; }
  .trace_500 .flno {
    color: #666;
    font-size: 1.3em;
    float: left; }
  .trace_500 .fun {
    font-size: 1.2em;
    float: right; }
  .trace_500 code {
    font-size: 1.3em;
    padding: .5em;
    clear: left; }

#activate, #deactivate {
  display: block;
  width: 80px;
  margin: 0 10px;
  text-decoration: none;
  background-color: white; }
  #activate:before, #deactivate:before {
    display: block;
    width: 40px;
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-weight: bold; }

#activate:before {
  content: 'Off';
  background-color: red; }

#deactivate:before {
  content: 'On';
  margin-left: 40px;
  background-color: green; }

.CodeMirror-dialog {
  background-color: #e6e6e6;
  border-bottom-color: #fff;
  color: #666; }

.cm-searching {
  background: white; }

.hidden {
  display: none; }

#source-editor > .CodeMirror {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: normal; }

.cm-operator, .cm-keyword {
  font-weight: bold; }

.cm-comment {
  font-style: italic; }

.CodeMirror-linebackground.ctx {
  border-left: 2px solid red; }

.traceline {
  position: relative;
  padding-bottom: .5em;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 4px; }
  .traceline:not(.selected) {
    border-color: #d8d8d8; }

#traceback .traceline .tracefunfun {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent; }
#traceback .traceline .tracefun {
  background-color: transparent; }
  #traceback .traceline .tracefun:before {
    content: none; }

[data-page=IndexHandler] {
  font-family: Verdana;
  margin: 0 10%; }

.traceline {
  margin-bottom: -1px; }

#wdb > header > #activity {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 20px; }
  #wdb > header > #activity * {
    box-sizing: border-box; }
  #wdb > header > #activity:before {
    content: ' ';
    display: block;
    background-color: #666;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    position: absolute;
    left: calc(50% - 10px);
    border-radius: 100%; }
  #wdb > header > #activity .state {
    width: 100%;
    height: 100%; }
    #wdb > header > #activity .state:before, #wdb > header > #activity .state:after {
      content: ' ';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -13px;
      left: -13px;
      border: 13px double rgba(0, 0, 0, 0.2);
      border-radius: 100%; }
    #wdb > header > #activity .state:before {
      -webkit-animation: rotate 2s infinite linear;
              animation: rotate 2s infinite linear; }
    #wdb > header > #activity .state:after {
      -webkit-animation: rotate2 2s infinite linear;
              animation: rotate2 2s infinite linear;
      -webkit-animation-delay: -.5s;
              animation-delay: -.5s; }
    #wdb > header > #activity .state.inner:before {
      -webkit-animation: rotate3 2s infinite linear;
              animation: rotate3 2s infinite linear;
      -webkit-animation-delay: -1.5s;
              animation-delay: -1.5s; }
    #wdb > header > #activity .state.inner:after {
      -webkit-animation: rotate4 2s infinite linear;
              animation: rotate4 2s infinite linear;
      -webkit-animation-delay: -1s;
              animation-delay: -1s; }
  #wdb > header > #activity, #wdb > header > #activity *, #wdb > header > #activity *:before, #wdb > header > #activity *:after {
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important; }
  #wdb > header > #activity.on, #wdb > header > #activity.on *, #wdb > header > #activity.on *:before, #wdb > header > #activity.on *:after {
    -webkit-animation-play-state: running !important;
            animation-play-state: running !important; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate3d(2, 1, 1, 360deg);
            transform: rotate3d(2, 1, 1, 360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate3d(2, 1, 1, 360deg);
            transform: rotate3d(2, 1, 1, 360deg); } }

@-webkit-keyframes rotate2 {
  100% {
    -webkit-transform: rotate3d(1, 2, 1, 360deg);
            transform: rotate3d(1, 2, 1, 360deg); } }

@keyframes rotate2 {
  100% {
    -webkit-transform: rotate3d(1, 2, 1, 360deg);
            transform: rotate3d(1, 2, 1, 360deg); } }

@-webkit-keyframes rotate3 {
  100% {
    -webkit-transform: rotate3d(2, -2, 1, 360deg);
            transform: rotate3d(2, -2, 1, 360deg); } }

@keyframes rotate3 {
  100% {
    -webkit-transform: rotate3d(2, -2, 1, 360deg);
            transform: rotate3d(2, -2, 1, 360deg); } }

@-webkit-keyframes rotate4 {
  100% {
    -webkit-transform: rotate3d(-1, 2, 2, 360deg);
            transform: rotate3d(-1, 2, 2, 360deg); } }

@keyframes rotate4 {
  100% {
    -webkit-transform: rotate3d(-1, 2, 2, 360deg);
            transform: rotate3d(-1, 2, 2, 360deg); } }
